<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN HRM</title>
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!----===== Fontawesome Icon CSS ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css">
  <!--<title>Dashboard Sidebar Menu</title>-->
  <link rel="stylesheet" href="/css/contentDashboard.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <div class="container" id="section-1">
    <div class="text-center">
      <h3><i class='bx bxs-dashboard'></i> Điều hướng</h3>
    </div>
    <div class="row" id="row-1">
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-primary text-light" href="/management/content/manga">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-book"></i> MANGA</h5>
            <b>Số lượng : <%=mangas.length %> </b>
            <br>
            <span> <i class="fas fa-mars"></i> : <%= mangas.filter((manga)=>manga.serve==="male").length %> </span>
            <span> <i class="fas fa-venus"></i> : <%= mangas.filter((manga)=>manga.serve==="female").length %> </span>
            <span> <i class="fas fa-venus-mars"></i> : <%= mangas.filter((manga)=>manga.serve==="all").length %> </span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-success text-light" href="/management/content/slide">
          <div class="card-body">
            <h5 class="card-title"><i class="fab fa-slideshare"></i> SLIDE</h5>
            <b>Số lượng : <%=slides.length %> </b>
            <br>
            <span> <i class="fas fa-eye"></i> : <%= mangas.filter((manga)=>manga.active===true).length %> </span>
            <span> <i class="fas fa-eye-slash"></i> : <%= mangas.filter((manga)=>manga.active===false).length %> </span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-warning text-light" href="#">
          <div class="card-body">
            <h5 class="card-title"><i class="fab fa-slideshare"></i> BLOG</h5>
            <b>Số lượng : 100 </b>
            <br>
            <span> <i class="fas fa-eye"></i> : <%= mangas.filter((manga)=>manga.active===true).length %> </span>
            <span> <i class="fas fa-eye-slash"></i> : <%= mangas.filter((manga)=>manga.active===false).length %> </span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-danger text-light" href="#">
          <div class="card-body">
            <h5 class="card-title"><i class="fab fa-slideshare"></i> NOVEL</h5>
            <b>Số lượng : 150 </b>
            <br>
            <span> <i class="fas fa-eye"></i> : <%= mangas.filter((manga)=>manga.active===true).length %> </span>
            <span> <i class="fas fa-eye-slash"></i> : <%= mangas.filter((manga)=>manga.active===false).length %> </span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-info text-light" href="#">
          <div class="card-body">
            <h5 class="card-title"><i class="fab fa-slideshare"></i> FANMADE</h5>
            <b>Số lượng : 120 </b>
            <br>
            <span> <i class="fas fa-eye"></i> : <%= mangas.filter((manga)=>manga.active===true).length %> </span>
            <span> <i class="fas fa-eye-slash"></i> : <%= mangas.filter((manga)=>manga.active===false).length %> </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container" id="section-2">
    <div class="text-center">
      <h3><i class='bx bxs-pie-chart-alt-2'></i> Biểu đồ</h3>
    </div>
    <h3>Tương quan</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8 p-2">
        <canvas id="barChart"></canvas>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <canvas id="doughnutChart"></canvas>
      </div>
    </div>
    <h3>Manga</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <canvas id="pieChart"></canvas>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <canvas id="lineChart"></canvas>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
  const myChart = new Chart(
    document.getElementById('lineChart'),
    config
  );


  <%= mangas.length %>
  const dataDoughnut = {
    labels: [
      'Mangas',
      'Slides',
      'Blogs',
      "Novels",
      "Fanmades"
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [<%= mangas.length %>, <%= slides.length %>, 100, 150, 120],
      backgroundColor: [
        '#007bff',
        '#28a745',
        '#ffc107',
        '#dc3545',
        '#17a2b8'
      ],
      hoverOffset: 4
    }]
  };
  const configDoughnut = {
    type: 'doughnut',
    data: dataDoughnut,
  };
  const myDoughnutChart = new Chart(
    document.getElementById('doughnutChart'),
    configDoughnut
  );

  const dataBar = {
    labels: [
      'Mangas',
      'Slides',
      'Blogs',
      "Novels",
      "Fanmades"
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [<%= mangas.length %>, <%= slides.length %>, 100, 150, 120],
      backgroundColor: [
        '#007bff',
        '#28a745',
        '#ffc107',
        '#dc3545',
        '#17a2b8'
      ],
      hoverOffset: 4
    }]
  };
  const configBar = {
    type: 'bar',
    data: dataBar,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Floating Bar Chart'
        }
      }
    }
  };
  const myBarChart = new Chart(
    document.getElementById('barChart'),
    configBar
  );
</script>
<script>
  const dataPie = {
    labels: [
      'Male',
      'Female',
      'All',
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [<%= mangas.filter((manga)=>manga.serve==="male").length %>, <%= mangas.filter((manga)=>manga.serve==="male").length %>, <%= mangas.filter((manga)=>manga.serve==="all").length %>],
      backgroundColor: [
        '#007bff',
        '#dc3545',
        '#28a745',
      ],
      hoverOffset: 4
    }]
  };
  const configPie = {
    type: 'pie',
    data: dataPie,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Pie Chart'
        }
      }
    },
  };
  const myPieChart = new Chart(
    document.getElementById('pieChart'),
    configPie
  );
</script>

</html>