<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin HRM</title>
  <link rel="stylesheet" href="/css/manage_hrm.css">
  <link rel="stylesheet" href="/css/sidebar_hrm.css">

  <%- include("../partials/link") %>
  <!-- {{!-- Link fontawesome 5 --}} -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
    </nav>
  </header>
  <%- include("../partials/sidebar",{admin}) %>
  <div class="container">
    <h1 class="text-center" style="margin-top: 70px;">DELETE PAGE</h1>
    <b style="margin-left: 100px;">Tìm tài khoản cần xóa</b>
    <input class="form-control mt-2 mb-2" style="width: 400px;margin-left: 100px;" id="myInput" type="text" placeholder="Search..">
    <table class="table table-dark table-hover table-strippe" style="margin-left: 100px;">
      <thead>
        <tr>
          <th scope="col" class="text-center">STT</th>
          <th scope="col">Admin</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col" colspan="2">Avatar</th>
          <th scope="col" class="text-center"><i class="fa-solid fa-trash"></i></th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% adminList.forEach(function(admin,index){ %>
        <tr>
          <th scope="row" class="text-center"><%= index + 1%></th>
          <td id="account_td"><%= admin.account %></td>
          <td id="email_td"><%= admin.email%></td>
          <td id="role_td"> <% if (admin.role =="hrm_admin"){%><span class="badge badge-pill badge-primary">Quản trị nhân lực / hrm_admin</span> <%}else { %><span class="badge badge-pill badge-warning">Quản trị nội dung / manga_admin</span><% } %> </td>
          <td id="avatar_td"><%= admin.avatar%></td>
          <td>
            <% if (admin.avatar !== "avatar.png"){%><img class="avatar" src="/manage/admin_hrm/avatar/<%= admin.avatar%>" /> <% }else{%>
            <img class="avatar" src="/image/avatar.png" />
            <%} %>
          </td>
          <td class="text-center">
            <button class="btn btn-danger" id="<%= admin._id %>" onclick="handleDelete(this)">Xóa</button>
          </td>
        </tr>
        <% }); %>

      </tbody>
    </table>
  </div>
</body>
<%- include("../partials/script") %>
<script>
  //   fetch("/manage/admin_hrm/admin").then((res) => res.json()).then(data => console.log(data)).catch(error => console.log(error))
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  function handleDelete(it) {
    const id = it.getAttribute("id")
    let text = "Bạn có chắc chắn muốn xóa tài khoản này không? ";
    if (confirm(text) == true) {
      fetch("/manage/admin_hrm/" + id, {
          method: 'delete'
        }).then((res) => res.json())
        .then(data => {
          // console.log(data)
          swal({
            title: "Thành công",
            text: "Đã xóa tài khoản",
            icon: "success",
            button: "Ok!",
          });
        })
        .catch(error => console.log(error))
      it.parentElement.parentElement.remove();
    } else {
      return
    }
  }
</script>

</html>