<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN HRM</title>
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!----===== Fontawesome Icon CSS ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css">
  <!--<title>Dashboard Sidebar Menu</title>-->
  <link rel="stylesheet" href="/css/humanDashboard.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <%- include("../admin/partials/header") %>

  <div class="container" id="section-1">
    <div class="text-center">
      <h3><i class='bx bxs-dashboard'></i> Điều hướng</h3>
    </div>
    <div class="row" id="row-1">
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-primary text-light" href="/management/human/admin">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-user-cog"></i> Quản trị viên</h5>
            <b>Số lượng : <%= adminList.length %> </b>
            <br>
            <span> Quản trị nội dung : <%= adminList.filter((admin,index)=>admin.role==="CA").length %></span>
            <br>
            <span> Quản trị nhân lực : <%= adminList.filter((admin,index)=>admin.role==="HA").length %></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-success text-light" href="/management/human/user">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-users"></i> Người dùng</h5>
            <b>Số lượng : <%= userLocalList.length + userFacebookList.length + userGoogleList.length %></b>
            <br>
            <span> Tài khoản local : <%= userLocalList.length %></span>
            <br>
            <span> Tài khoản social : <%= userFacebookList.length + userGoogleList.length %></span>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 p-2">
        <a class="card bg-warning text-light" href="#">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-chart-area"></i> Thống kê & Phân tích
            </h5>
            <br>
            <span> Thống kê phân tích độc giả</span>
            <br>
            <span> Định hướng phát triển</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>