<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/addChapter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%- include("../../partials/link") %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <section style="background-image: url('<%= manga.image%>');" id="general">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="manga-img">
          <img src="<%= manga.image%>" alt="">
        </div>
      </div>
      <div class="col-md-8 col-lg-4">
        <div class="manga-info">
          <h3 class="manga-info__name"><%= manga.name%></h3>
          <p class="manga-info__anotherName">Tên khác: <%= manga.anotherName %> </p>
          <p class="manga-info__author">Tác giả: <a href="#">
              <%= manga.author %>
            </a></p>
          <p class="manga-info__status">Tình trạng: <%= manga.status %> </p>
          <p class="manga-info__statistical">Thống kê:
            <span>
              <i class="far fa-thumbs-up"></i> <%= manga.statistical.likes %>
            </span>
            <span>
              <i class="fas fa-heart"></i> <%= manga.statistical.hearts %>
            </span>
            <span>
              <i class="far fa-eye"></i> <%= manga.statistical.views %>
            </span>
          </p>
          <% manga.type.forEach(function(type,index){ %>
          <a href="#" class="btn btn-outline-danger manga-info__type"><%= type%></a>
          <% }) %>
        </div>

      </div>
      <div class="col-md-12 col-lg-5 pt-3">
        <div class="manga-info__desc">
          <b>Nội dung:</b>
          <p class="truncate">
            <%= manga.description %>
          </p>
          <div class="text-center">
            <button class="show-more btn btn-primary">Show More</button>
          </div>
        </div>
        <div class="list-chapter mt-4">
          <table class="table bg-dark text-light">
            <thead class="bg-warning text-dark">
              <tr>
                <th scope="col" class="text-center">STT</th>
                <th scope="col" class="text-center">Chương</th>
                <th scope="col" class="text-center">Tên</th>
                <th scope="col" class="text-center">Ngày đăng</th>
              </tr>
            </thead>
            <tbody>
              <% manga.chapters.forEach(function(chapter,index){ %>
              <tr>
                <th scope="row" class="text-center">
                  <%= index + 1%>
                </th>
                <td class="text-center"> <span class="badge badge-primary"><%= chapter.chapterNumber%></span></td>
                <td class="col-chapterName" data-toggle="tooltip" data-placement="bottom" title="<%= chapter.chapterName%>"><%= chapter.chapterName%></td>
                <td class="text-right"><%= chapter.chapterUpdate%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="container" id="add-chapter">
    <div class="float-right mt-2">
      <a href="#" class="btn btn-outline-warning btn-sm mr-3">Xóa chương</a>
      <a href="#" class="btn btn-outline-primary btn-sm">Sửa chương</a>
    </div>
    <form action="add_chapter/" method="POST" enctype="multipart/form-data">
      <caption class="text-center">
        <h2>
          Đăng chương mới
        </h2>
      </caption>
      <div class="form-group">
        <label for="number">Chương số</label>
        <input type="text" class="form-control" required name="number" id="number" placeholder="Enter number of chapter/ Nhập chương số" />
      </div>
      <div class="form-group">
        <label for="username">Tên chương</label>
        <input type="text" class="form-control" required name="name" id="name" placeholder="Enter name of chapter/ Nhập tên chương" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary submitBtnChapter">Khởi tạo</button>
      </div>
    </form>
  </section>
  <section class="container" id="add-image">
    <form action="add_chapterImg/" method="POST" enctype="multipart/form-data">
      <input type="file" id="gallery-photo-chapter" name="chapterImg" id="chapterImg">
      <div class="gallery"></div>
      <div class="text-center">
        <button type="submit" class="btn btn-success submitBtnChapterImage">Xuất bản</button>
      </div>
    </form>
  </section>
  <section class="container mt-4 bg-dark text-light" style="margin-bottom: 100px;" id="carousel">
    <div class="owl-carousel owl-theme">

    </div>
  </section>
</body>
<%- include("../../partials/script") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // Add the following code if you want the name of the file appear on select
  function changeImage() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  }

  const btnShowMore = document.querySelector(".show-more");
  const textDesc = document.querySelector(".manga-info__desc p");

  let flag = false;
  btnShowMore.onclick = function() {
    if (flag === false) {
      btnShowMore.textContent = "Show Less";
      textDesc.classList.remove("truncate");
      flag = true
    } else {
      btnShowMore.textContent = "Show More";
      textDesc.classList.add("truncate");
      flag = false
    }
  }

  // Tooltips
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
<script>
  const addChapterSection = document.querySelector("#add-chapter");
  const addImageChapterSection = document.querySelector("#add-image");
  addImageChapterSection.style.display = "none";
  // const imagesPreview = function(input, placeToInsertImagePreview) {
  // if (input.files) {
  //   var filesAmount = input.files.length;
  //   for (i = 0; i < filesAmount; i++) {
  //     var reader = new FileReader();
  //     reader.onload = function(event) {
  //       $($.parseHTML('<img>')).attr('style', "width:70%").attr('src', event.target.result).appendTo(placeToInsertImagePreview);
  //     }
  //     reader.readAsDataURL(input.files[i]);
  //   }
  // }

  // };


  $('#gallery-photo-chapter').on('change', function() {
    const imageFile = document.querySelector('#gallery-photo-chapter').files[0];
    if (!imageFile) {
      return
    }
    if (!imageFile.name.endsWith(".jpg") && !imageFile.name.endsWith(".jpeg") && imageFile.name.endsWith(".png")) {
      alert("ERROR")
      return
    }
    // imagesPreview(this, 'div.gallery');
    var reader = new FileReader();
    reader.onload = function(e) {
      document.querySelector(".gallery").innerHTML = `<img src="${e.target.result}" width="70%" alt="img-chapter" />`
    };
    reader.readAsDataURL(imageFile);
  });


  window.onsubmit = function(event) {
    event.preventDefault();
  }
  document.querySelector(".submitBtnChapter").onclick = function() {
    const chapterNumber = document.querySelector("#number").value;
    const chapterName = document.querySelector("#name").value;
    const data = {
      chapterNumber,
      chapterName
    };

    fetch('add_chapter/' + data.chapterNumber, {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        if (data === false) {
          alert("Chương số này đã tồn tại !!!")
        } else {
          swal({
            title: "Good job!",
            text: "Đã khởi tạo chương thành công... Tiếp theo là đăng các trang truyện ^^ !!!",
            icon: "success",
            button: "Tiếp theo",
          });
          addChapterSection.style.display = "none";
          addImageChapterSection.style.display = "block";
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  document.querySelector(".submitBtnChapterImage").onclick = function() {
    const chapter = document.querySelector("#number").value
    const imageFile = document.querySelector('#gallery-photo-chapter').files[0];
    const formData = new FormData();
    formData.append("chapterImg", imageFile)
    fetch('add_chapterImg/' + chapter, {
        method: 'POST', // or 'PUT'
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        if (data === false) {
          alert("Error :((((")
        } else {
          swal({
            title: "Good job!",
            text: "Đã đăng trang truyện ^^ !!!",
            icon: "success",
            button: "OK",
          })
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
  fetch("chapterImg").then(res => res.json()).then(data => {
    console.log(data)
    let html = data.images.map((img, index) => {

      return `<div class="owl-carousel owl-theme">
        <div class="item">
          <h4> ${index + 1}%></h4>
          <img src="${img}" />
        </div>
        </div>`
    });
    // document.querySelector("#owl-carousel").innerHTML = html.join("")
  }).catch(error => console.log(error))
  $('.owl-carousel').owlCarousel({
    // loop: true,
    margin: 10,
    // nav: true,
    responsive: {
      0: {
        items: 1,
        nav: true
      },
      600: {
        items: 3,
        nav: false
      },
      1000: {
        items: 5,
        nav: true,
        loop: false
      }
    }
  })
</script>

</html>