<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUBLISH MANGA</title>
  <%- include("../../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/publishManga.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/management/content/manga/">Bảng điều khiển</a></li>
      <li class="breadcrumb-item active" aria-current="page">Xuất bản truyện</li>
    </ol>
  </nav>

  <h2 class="text-center m-4">Xuất bản Manga</h2>
  <section class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <form action="#" class="form-upload" enctype="multipart/form-data">
          <label for="gallery-photo-cover" class="manga-img cover text-center">
            <img class="img-cover" width="100%" alt="img-cover" hidden />
            <label for="gallery-photo-cover" class="icon-upload"> <i class="fas fa-5x fa-upload"></i><br> Upload Manga Cover</label>
          </label>
          <div class="text-center mt-3 ">
            <input type="file" id="gallery-photo-cover" name="cover" hidden>
          </div>
        </form>
      </div>
      <div class="col-md-8 col-lg-4">
        <form action="#" class="mt-4">
          <div class="input_name">
            <label for="name">
              <h6>Tên truyện</h6>
            </label>
            <input type="text" class="form-control" id="name" name="name" value="" required>
          </div>
          <div class="input_anotherName">
            <label for="anotherName">
              <h6>Tên khác</h6>
            </label>
            <input type="text" class="form-control" id="anotherName" name="anotherName" value="" required>
          </div>
          <div class="input_author">
            <label for="author">
              <h6>Tác giả</h6>
            </label>
            <input type="text" class="form-control" id="author" name="author" value="" required>
            <small id="authorHelp" class="form-text text-muted">* Để trống nếu chưa cập nhật</small>
          </div>
          <div class="input_type">
            <label for="type">
              <h6>Thể loại</h6>
            </label>
            <div class="form-check row d-flex justify-content-between">
              <% types.forEach(function(type,index){ %>
              <% if(index=== 15 || index === 30 || index === 45) { %>
            </div>
            <% } %>
            <% if(index=== 0 || index === 15|| index === 30 ) { %>
            <div class="column" style="font-size: 14px">
              <div class="checkbox-type">
                <input type="checkbox" class="form-checbox-type" id="type_<%= index %>" value="<%= type.name %>" />
                <label class="form-check-label" for="type_<%= index %>"><%= type.name %> </label>
              </div>
              <% }else{ %>
              <div class="checkbox-type">
                <input type="checkbox" class="form-checbox-type" id="type_<%= index %>" value="<%= type.name %>">
                <label class="form-check-label" for="type_<%= index %>"><%= type.name %> </label>
              </div>
              <% } %>
              <%})%>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 col-lg-5 pt-3">
      <form action="#" class="mt-4">
        <div class="input_serve">
          <label for="serve">
            <h6>Đối tượng đọc</h6>
          </label>
          <div class="d-flex justify-content-around">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="male" value="male">
              <label class="form-check-label" for="male">
                male <i class="fas fa-mars text-primary"></i>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="female" value="female">
              <label class="form-check-label" for="female">
                female <i class="fas fa-venus text-danger"></i>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="all" value="all">
              <label class="form-check-label" for="all">
                all <i class="fas fa-venus-mars text-success"></i>
              </label>
            </div>
          </div>
        </div>
        <div class="input_status">
          <label for="status">
            <h6>Tình trạng</h6>
          </label>
          <div class="d-flex justify-content-around">
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="status" id="in-process" value="Đang tiến hành">
              <label class="form-check-label" for="in-process">
                Đang tiến hành
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="accomplished" value="Hoàn thành">
              <label class="form-check-label" for="accomplished">
                Hoàn thành
              </label>
            </div>
          </div>
        </div>
        <div class="input_translation">
          <label for="translation">
            <h6>Người/Nhóm dịch</h6>
          </label>
          <input type="text" class="form-control" id="translation" name="translation">
          <small id="authorHelp" class="form-text text-muted">* Để trống nếu chưa cập nhật</small>
        </div>
        <div class="input_hot d-flex">
          <label for="hot">
            <h6>Hot</h6>
          </label>
          <div class="form-check ml-3">
            <input type="checkbox" class="form-check-input" id="hot" name="hot" value="true">
          </div>
        </div>
        <div class="input_country">
          <label for="country">
            <h6>Quốc gia</h6>
          </label>
          <select class="form-control form-select" id="country">
            <option selected disabled>Chọn quốc gia</option>
            <option value="Nhật Bản">Nhật Bản</option>
            <option value="Trung Quốc">Trung Quốc</option>
            <option value="Mỹ">Mỹ</option>
            <option value="Hàn Quốc">Hàn Quốc</option>
          </select>
        </div>
        <div class="input_description">
          <label for="description">
            <h6>Nội dung</h6>
          </label>
          <textarea name="description" id="description" class="form-control" rows="7">
          </textarea>
        </div>
        <!-- <a href="#" class="btn btn-warning mt-2 float-right btn-sm">Đăng trương đầu tiên</a> -->
        <div class="row d-flex justify-content-center mt-3">
          <button class="btn btn-secondary mr-2">Hủy bỏ <i class="fas fa-eraser"></i></button>
          <button class="btn btn-success publishBtn">Xuất bản <i class="fas fa-rocket"></i></button>
        </div>
      </form>
    </div>
  </section>

</body>
<%- include("../../partials/script") %>
<script>
  const cover = document.querySelector(".cover");
  $('#gallery-photo-cover').on('change', function() {
    const imageFile = document.querySelector('#gallery-photo-cover').files[0];
    if (!imageFile) {
      return
    }
    if (!imageFile.name.endsWith(".jpg") && !imageFile.name.endsWith(".jpeg") && !imageFile.name.endsWith(".png")) {
      alert("ERROR")
      return
    }
    // imagesPreview(this, 'div.gallery');
    var reader = new FileReader();
    reader.onload = function(e) {
      document.querySelector(".img-cover").setAttribute("src", e.target.result);
      document.querySelector(".img-cover").removeAttribute("hidden");

      if (document.querySelector(".icon-upload")) {
        document.querySelector(".icon-upload").remove()
      }
    };
    reader.readAsDataURL(imageFile);
  });

  window.onsubmit = function(event) {
    event.preventDefault();
  }
  const publishBtn = document.querySelector(".publishBtn");
  publishBtn.onclick = function() {
    //find content
    const name = document.getElementById("name").value;
    const anotherName = document.getElementById("anotherName").value;
    const author = document.getElementById("author").value;
    const translation = document.getElementById("translation").value;
    const typeArray = [];
    const serve = $("input[name='serve']:checked").val();
    const status = $("input[name='status']:checked").val();
    const hot = document.querySelector("input[name='hot']").checked;
    const description = document.getElementById("description").value;
    const country = document.getElementById("country").value;

    document.querySelectorAll('input[class="form-checbox-type"]:checked').forEach((type, index) => {
      typeArray.push(type.value)
    });

    if (!name || !anotherName || typeArray.length === 0 || !serve || !status || !description || !country) {
      swal({
        title: "Thông báo",
        text: "Bạn phải điền đầy đủ thông tin >.<",
        icon: "warning",
        button: "OK!",
      });
      return;
    }
    // console.log({
    //   name,
    //   anotherName,
    //   author: author.length,
    //   translation: translation.length,
    //   type: typeArray,
    //   serve,
    //   status,
    //   hot,
    //   description
    // })
    const mangaInfo = {
      name,
      anotherName,
      author,
      type: typeArray,
      serve,
      status,
      translation,
      hot,
      description,
      country
    }
    const imgFiles = document.getElementById("gallery-photo-cover");

    if (!imgFiles.files[0]) {
      swal({
        title: "Thông báo",
        text: "Bạn phải upload trang bìa của manga >.<",
        icon: "warning",
        button: "OK!",
      });
      return;
    }
    //set up avatar file
    const formData = new FormData();
    formData.append("cover", imgFiles.files[0])
    fetch('/management/content/manga/publish/cover', {
        method: 'POST', // or 'PUT'
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        console.log({
          formData,
          data
        })
        mangaInfo.image = `/image/${data.filename}`;
        fetch('/management/content/manga/publish', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(mangaInfo),
          })
          .then(response => response.json())
          .then(data => {
            console.log("CREATED MANGA:", data)
            swal({
              title: "Thành công",
              text: "Đã xuất bản thành công !",
              icon: "success",
              button: "Ok!",
            }).then(() => {
              location.reload()
            })

          })
          .catch((error) => {
            console.log('Error:', error);
          })
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
</script>

</html>