<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include("../../partials/link") %>
  <link rel="stylesheet" href="/css/updateChapter.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <h1 class="text-center m-4">Cập nhật Manga</h1>
  <section class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="manga-img">
          <div class="zoom-image" data-image="<%= manga.image%>">
            <img src="<%= manga.image%>" class="cover" width="100%" alt="">
          </div>
        </div>
        <div class="text-center mt-3">
          <form action="#" class="form-upload" enctype="multipart/form-data">

            <div class="custom-file">
              <input type="file" id="gallery-photo-cover" hidden>
              <label for="gallery-photo-cover" class="icon-upload btn btn-primary"> <i class="fas fa-2x fa-upload"></i><br>Đổi bìa</label>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8 col-lg-4">
        <form action="#" class="mt-4">
          <div class="input_name">
            <label for="name">
              <h5>Tên truyện</h5>
            </label>
            <input type="text" class="form-control" id="name" name="name" value="<%= manga.name%>">
          </div>
          <div class="input_anotherName">
            <label for="anotherName">
              <h5>Tên khác</h5>
            </label>
            <input type="text" class="form-control" id="anotherName" name="anotherName" value="<%= manga.anotherName%>">
          </div>
          <div class="input_author">
            <label for="author">
              <h5>Tác giả</h5>
            </label>
            <input type="text" class="form-control" id="author" name="author" value="<%= manga.author%>">
          </div>
          <div class="input_status">
            <label for="status">
              <h5>Tình trạng</h5>
            </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="in-process" value="Đang tiến hành" <% if(manga.status ==="Đang tiến hành"){%> checked <% } %>>
              <label class="form-check-label" for="in-process">
                Đang tiến hành
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="accomplished" value="Đã hoàn thành" <% if(manga.status==="Đã hoàn thành" ){%> checked <% } %>>
              <label class="form-check-label" for="accomplished">
                Đã hoàn thành
              </label>
            </div>
          </div>
          <div class="input_hot">
            <label for="hotcheck">
              <h5 class="d-flex"> <span>Hot</span>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input ml-2" id="hotcheck" style="zoom: 1.5;" title="Hot" <%= manga.hot && "checked" %>>
                </div>
              </h5>
            </label>
          </div>
          <div class="input_serve">
            <label for="status">
              <h5>Đối tượng</h5>
            </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="serve-male" value="male" <% if(manga.serve === "male"){%> checked <% } %>>
              <label class="form-check-label" for="serve-male">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="serve-female" value="female" <% if(manga.serve === "female"){%> checked <% } %>>
              <label class="form-check-label" for="serve-female">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="serve" id="serve-all" value="all" <% if(manga.serve === "all"){%> checked <% } %>>
              <label class="form-check-label" for="serve-all">
                All
              </label>
            </div>
          </div>
          <p class="mt-2"><b>Thống kê</b> :
            <span>
              <i class="far fa-thumbs-up"></i> <%= manga.statistical.likes %>
            </span>
            <span>
              <i class="fas fa-heart"></i> <%= manga.statistical.hearts %>
            </span>
            <span>
              <i class="far fa-eye"></i> <%= manga.statistical.views %>
            </span>
          </p>
          <div class="input_fanmade">
            <label for="fanmade">
              <h5 class="d-flex"> <span>Fanmade</span>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input ml-2" id="fanmade" style="zoom: 1.5;" title="Fanmade" <%= manga.fanmade && "checked" %>>
                </div>
              </h5>
            </label>
          </div>
          <label for="type">
            <h5>Thể loại</h5>

          </label>
          <div class="form-check row d-flex justify-content-between">
            <div class="column">
              <% typeArr.forEach(function(type,index){ %>
              <div class="checkbox-type">
                <input type="checkbox" class="form-checbox-type" id="<%= type%>" value="<%= type%>" <%= manga.type.includes(type) && "checked" %>>
                <label class="form-check-label" for="<%= type%>"><%= type%></label>
              </div>
              <%})%>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12 col-lg-5 pt-3">
        <div class="input_description">
          <label for="description">
            <h5>Nội dung</h5>
          </label>
          <textarea name="description" id="description" class="form-control">
              <%= manga.description %>
          </textarea>
        </div>
        <button class="btn btn-success float-right mt-3 mb-4">Cập nhật chỉnh sửa</button>
        <div class="list-chapter mt-4">
          <table class="table bg-dark text-light">
            <thead class="bg-warning text-dark">
              <tr>
                <th scope="col" class="th-stt text-center">STT</th>
                <th scope="col" class="text-center">Chương</th>
                <th scope="col" class="text-center">Tên</th>
                <th scope="col" class="text-center">Ngày đăng</th>
              </tr>
            </thead>
            <tbody>
              <% manga.chapters.forEach(function(chapter,index){ %>
              <tr>
                <th scope="row" class="th-stt text-center">
                  <%= index + 1%>
                </th>
                <td class="text-center"> <span class="badge badge-primary"><%= chapter.chapterNumber%></span></td>
                <td class="col-chapterName" data-toggle="tooltip" data-placement="bottom" title="<%= chapter.chapterName%>"><%= chapter.chapterName%></td>
                <td class="text-right"><%= chapter.chapterUpdate%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <a href="add_chapter" class="btn btn-warning mt-2 float-right">Quản lí chương</a>
      </div>

    </div>
  </section>

</body>
<%- include("../../partials/script") %>
<script src="/js/zoomEffect.js"></script>

<script>
  //Tooltip
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  });
  // Upload Cover
  const zoomImage = document.querySelector(".zoom-image");
  const cover = document.querySelector(".cover");

  $('#gallery-photo-cover').on('change', function() {
    const imageFile = document.querySelector('#gallery-photo-cover').files[0];
    if (!imageFile) {
      return
    }
    if (!imageFile.name.endsWith(".jpg") && !imageFile.name.endsWith(".jpeg") && imageFile.name.endsWith(".png")) {
      alert("ERROR")
      return
    }

    var reader = new FileReader();
    reader.onload = function(e) {
      zoomImage.setAttribute("data-image", e.target.result);
      cover.setAttribute("src", e.target.result)
    };
    reader.readAsDataURL(imageFile);
  });

  function changeCover() {
    alert("ABC")
  }
  //   const updateMangaBtn = document.querySelectorAll(".updateMangaBtn");
  //   updateMangaBtn.forEach((btn, index) => {
  //     btn.addEventListener("click", function(e) {
  //       const idManga = e.target.dataset.id;
  //       fetch('/manage/admin_manga/updateManga/' + idManga, {
  //           method: 'PUT', // or 'PUT'
  //           headers: {
  //             'Content-Type': 'application/json',
  //           },
  //           // body: JSON.stringify(data),
  //         })
  //         .then(response => response.json())
  //         .then(data => {
  //           console.log(data);
  //         })
  //         .catch((error) => {
  //           console.error('Error:', error);
  //         });
  //     })
  //   })
</script>

</html>