<link rel="stylesheet" href="css/slide.css">

<div class="box-slide d-flex">
  <% slides.forEach(function(slide,index){ %>
  <% if (slide.active === true) {%>
  <div class="slide <% if ( index=== 2) { %> active <%}%>" style="
              background-image: url('<%= slide.image %>');
            ">
    <div class="slide__info">
      <h3><%= slide.manga.name %>
        <p class="slide__author">Tác giả: <%= slide.manga.author %></p>
      </h3>
      <span>Chapter: <b><%= slide.manga.contentId.chapters[0].chapterNumber %></b> - <b><%= slide.manga.contentId.chapters[0].chapterName %></b> </span>

      <p><b>Thể loại: </b>
        <% slide.manga.type.forEach(function(type){ %>
        <a href="#" class="slide__types"><%= type %></a>
        <% }) %>
      </p>

      <p class="slide__desc">
        <%= slide.manga.description %>
      </p>

      <div class="text-center">
        <a href="/detail/<%= slide.manga.slug%>" class="btn btn-success">Đọc ngay</a>
      </div>
    </div>
  </div>
  <%} %>
  <% }) %>
</div>
<script>
  const slides = document.querySelectorAll(".slide");

  for (const slide of slides) {
    slide.addEventListener("click", () => {
      removeActiveClass();
      slide.classList.add("active");
    });
  }

  function removeActiveClass() {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
  }
</script>