<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN DASHBOARD</title>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/manage_human.css">
  <link rel="stylesheet" href="/css/fullscreenImg.css">

  <%- include("../../../partials/link") %>

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">



</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" onclick="myFunction()">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <div class="container mt-2">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h3>Danh sách Quản trị viên</h3>
        <p class="align-items-center">
          <b>Số lượng: </b> <span class="badge badge-primary mr-3"> <%= adminList.length %> </span> <br>
          <b>Quản trị viên người dùng</b> <span class="badge badge-warning"> <%= adminList.filter((admin)=>admin.role==="HRM").length %> </span><br>
          <b>Quản trị viên nội dung</b> <span class="badge badge-success"> <%= adminList.filter((admin)=>admin.role==="CA").length %> </span>
        </p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex mb-1">
        <a href="/management/human/user" class="btn btn-sm btn-warning">Quản lí người dùng <i class="fas fa-users"></i></a>
        <a href="/management/human/admin/trash" class="btn btn-sm btn-dark ml-2">Thùng rác <i class="fas fa-trash-alt"></i></a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-between align-items-center mb-1">
        <a href="#" class="btn btn-sm btn-info">Thống kê <i class='bx bxs-pie-chart-alt-2'></i></a>
        <a href="#" class="btn btn-sm btn-success">Thêm quản trị <i class="fas fa-user-plus"></i></a>
        <button class="light-mode-button" aria-label="Toggle Light Mode" onclick="toggle_light_mode()">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <div id="toolbar">
      <button id="deleteChecked" class="btn btn-danger btn-sm">Xóa hết <i class="fas fa-trash"></i></button>
    </div>
    <table class="table table-striped table-bordered table-sm" id="table" data-height="250px" data-url="/management/human/admin/api/getList" data-pagination="true" data-show-columns="true" data-page-size="2" data-page-list="[2,4,6,10,25,30]" data-buttons-class="primary" data-resizable="true" data-toggle="table" data-show-toggle="true" data-search="true" data-show-jump-to="true" data-show-columns-toggle-all="true" data-show-columns-search="true" data-show-fullscreen="true" data-show-refresh="true" data-response-handler="responseHandler" data-click-to-select="true" data-advanced-search="true" data-id-table="advancedTable" data-show-print="true" data-show-export="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
      <thead>
        <tr class="text-center">
          <th scope="col" data-field="index" data-sortable="true">STT</th>
          <th scope="col" data-field="_id" data-sortable="true">ID</th>
          <th scope="col" data-field="avatar" data-formatter="avatarFormatter">Avatar</th>
          <th scope="col" data-field="username" data-sortable="true" data-formatter="usernameFormatter">Username</th>
          <th scope="col" data-field="email" data-sortable="true">Email</th>
          <th scope="col" data-field="role" data-sortable="true" data-formatter="roleFormatter">Vai trò</th>
          <th scope="col" data-field="createdAt" data-sortable="true" data-formatter="createdAtFormatter">Tạo</th>
          <th scope="col" data-field="updatedAt" data-sortable="true" data-formatter="updatedAtFormatter">Cập nhật</th>
          <th data-field="state" data-checkbox="true"></th>
          <th scope="col" data-field="slug" data-formatter="handleFormatter">Tác vụ</th>
        </tr>
      </thead>
    </table>
  </div>
</body>
<%- include("../../../partials/script") %>
<script src="/js/moment.min.js"></script>
<script src="/js/darkMode.js"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/print/bootstrap-table-print.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>


<script>
  //Turn on turn off modal
  function zoomImg(it) {
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("preview-modal");

    modal.style.display = "block";
    modalImg.src = it.src;
  }

  function closeModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
  }

  function responseHandler(res) {
    res.rows.forEach(function(row, i) {
      row.index = `<div class="text-center">${i + 1}</div>`
    })
    return res
  }

  function usernameFormatter(data) {
    return `
     <div class="text-center">
        <b>
       ${data}
       </b>
    </div>`;
  }

  function avatarFormatter(data) {
    return `
    <img src="/public/avatars/${data}" width="100%" alt="" onclick="zoomImg(this)" />
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <img class="modal-content" id="preview-modal">
    </div>`;
  }

  function roleFormatter(data) {
    return data === "CA" ? `
      <span class="badge badge-success">Quản trị viên nội dung</span>
      ` : `
      <span class="badge badge-warning">Quản trị viên nhân lực</span>
      `;
  }

  function createdAtFormatter(data) {
    return `<div class="text-center">${ moment(data).format("L") }<br> ${ moment(data).format("LT") }</div>`
  }

  function updatedAtFormatter(data) {
    return `<div class="text-center">${ moment(data).format("L") }<br> ${ moment(data).format("LT") }</div>`
  }

  function handleFormatter(data, row, index) {
    return `<div class="text-center">
      <a href="#" class="btn btn-primary btn-sm">Sửa</a>
      <button class="btn btn-danger btn-sm mt-2" onclick="deleteAdmin('${row._id}')">Xóa</button>
      </div>
    `
  }
</script>
<script>
  function deleteAdmin(idAdmin) {
    swal({
      title: "Bạn có chắc chắn muốn xóa không ?",
      text: "Nếu xóa bạn vẫn có thể khôi phục tài khoản !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch(`/management/human/admin/softDelete/${idAdmin}`, {
            method: "DELETE", // or 'PUT'
          })
          .then((response) => response.json())
          .then((data) => {
            if (data.isSuccess) {
              swal({
                title: "Thành công",
                text: "Đã xóa thành công !",
                icon: "success",
                button: "Ok!",
              }).then(() => {
                location.reload();
              });
            }
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      } else {
        return;
      }
    });

  }

  //Delete checked
  var $table = $('#table')
  var $button = $('#deleteChecked')

  $(function() {
    $button.click(function() {
      const idList = [];
      document.querySelectorAll("[name='btSelectItem']:checked").forEach((item, index) => {
        idList.push(item.parentElement.parentElement.parentElement.id)
      })
      // console.log(idList)
      const payload = {
        idList
      }
      swal({
        title: "Bạn có chắc chắn muốn xóa không",
        text: "Nếu xóa bạn vẫn có thể khôi phục truyện !",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          fetch(`/management/human/admin/softDeleteChecked`, {
              method: "DELETE", // or 'PUT'
              headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: JSON.stringify(payload)
            })
            .then((response) => response.json())
            .then((data) => {
              if (data.isSuccess) {
                swal({
                  title: "Thành công",
                  text: "Đã xóa thành công !",
                  icon: "success",
                  button: "Ok!",
                }).then(() => {
                  location.reload();
                });
              } else {
                swal({
                  title: "Có lỗi rồi",
                  text: "Gặp lỗi hệ thống hoặc danh sách cần xóa trống !",
                  icon: "error",
                  button: "Ok!",
                })
              }
            })
            .catch((error) => {
              console.log("Error:", error);
            });
        } else {
          return;
        }
      });
    })
  });
</script>

</html>