<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>DETAIL</title>
  <%- include("partials/link") %>
  <link rel="stylesheet" href="/css/detail.css">
</head>

<body>

  <%- include('partials/header',{user:user}) %>

  <section class="section container" id="section-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= slug %></li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="manga-img">
          <img src="<%= manga.image%>" alt="">
        </div>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-9">
        <div class="manga-info">
          <h3 class="manga-info__name"><%= manga.name%></h3>
          <p class="manga-info__anotherName">Tên khác: <%= manga.anotherName %> </p>
          <p class="manga-info__author">Tác giả: <a href="#">
              <%= manga.author %>
            </a></p>
          <p class="manga-info__status">Tình trạng: <%= manga.status %> </p>
          <p class="manga-info__statistical">Thống kê:
            <span>
              <i class="far fa-thumbs-up"></i> <%= manga.statistical.likes %>
            </span>
            <span>
              <i class="fas fa-heart"></i> <%= manga.statistical.hearts %>
            </span>
            <span>
              <i class="far fa-eye"></i> <%= manga.statistical.views %>
            </span>
          </p>
          <% manga.type.forEach(function(type,index){ %>
          <a href="#" class="btn btn-outline-danger manga-info__type"><%= type%></a>
          <% }) %>
          <div class="d-flex mt-3">
            <a class="read" href="<%= manga.slug%>/read/chapter-<%= manga.chapters[0].chapterNumber%>">
              <i class="fas fa-book-open"></i> Đọc từ đầu
            </a>
            <span class="follow ml-3 mr-3">
              <i class="fas fa-heartbeat"></i> Theo dõi
            </span>
            <span class="like">
              <i class="fas fa-thumbs-up"></i> Thích
            </span>
          </div>
          <div class="manga-info__desc">
            Nội dung:
            <p class="truncate">
              <%= manga.description %>
            </p>
            <div class="text-center">
              <button class="show-more btn btn-primary"> Show More <i class="fas fa-angle-down"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section container" id="section-2">
    <% if (manga.chapters.length === 0 ){%>
    <div class="text-center">
      <h1 class="bg-danger text-light p-2 rounded">Chưa có chương mới</h1>
    </div>
    <%} else{%>
    <div class="d-flex justify-content-between  align-items-center">
      <h2><i class="fas fa-list"></i> Danh sách chương</h2>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sort" onchange="checkSort(this)" id="sortAsc" value="asc" checked>
        <label class="form-check-label" for="sortAsc">
          <i class="fas fa-sort-numeric-down"></i> Đọc từ đầu
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sort" onchange="checkSort(this)" id="sortDesc" value="desc">
        <label class="form-check-label" for="sortDesc">
          <i class=" fas fa-sort-numeric-down-alt"></i> Đọc từ cuối
        </label>
      </div>
      <input class="form-control" id="myInput" type="text" placeholder="Tìm chương..." style="width: 200px;">
      <a href="<%= manga.slug%>/read/chapter-<%= manga.chapters[manga.chapters.length - 1 ].chapterNumber %>" class="btn btn-outline-warning">Đọc chương mới nhất <span class="badge badge-primary">
          <%= manga.chapters[manga.chapters.length - 1 ].chapterNumber %>
        </span>
      </a>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="stt">STT</th>
            <th scope="col" class="chapter">Chương</th>
            <th scope="col">Tên chương</th>
            <th scope="col" class="text-right">Ngày đăng</th>
          </tr>
        </thead>
        <tbody class="chapterList" id="myTable">
          <% manga.chapters.forEach(function(chapter,index){ %>
          <tr>
            <th scope="row" class="stt"><%= index + 1%></th>
            <td class="chapter"> <a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
                Chương <%= chapter.chapterNumber%>
              </a> </td>
            <td class="tdTruncate" data-toggle="tooltip" data-placement="bottom" title="<%= chapter.chapterName%>"><a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
                <%= chapter.chapterName%>
              </a></td>
            <td class="text-right"> <%= chapter.chapterUpdate%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>
  </section>
  <section class="section container" id="section-3">
    <% if(user){ %>
    <%- include("partials/comments",{chapter:null}) %>
    <% } else{%>
    <%- include("partials/comments",{user:null}) %>
    <%} %>
  </section>
  <%- include('partials/footer') %>
</body>
<!-- CDN script Facebook for DEV -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0&appId=929579514428909&autoLogAppEvents=1" nonce="OSNlapej"></script>
<%- include("partials/script") %>

<!-- CDN script Emoji -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>

<script>
  const btnShowMore = document.querySelector(".show-more");
  const textDesc = document.querySelector(".manga-info__desc p");

  let flag = false;
  btnShowMore.onclick = function() {
    if (flag === false) {
      btnShowMore.innerHTML = "Show Less <i class='fas fa-angle-up'></i>";
      textDesc.classList.remove("truncate");
      flag = true
    } else {
      btnShowMore.innerHTML = "Show More <i class='fas fa-angle-down'></i>";
      textDesc.classList.add("truncate");
      flag = false
    }
  }
</script>
<script>
  $("#content").emojioneArea({
    pickerPosition: "bottom",
  })
</script>
<script>
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<script>
  // Tooltips
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  }); // chạy ngay khi render giao diện 

  const checkSortButtons = document.querySelectorAll("[name='sort']");
  const chapterList = document.querySelector(".chapterList")

  function checkSort(checkBtn) {
    if (checkBtn.value == "desc") {
      chapterList.innerHTML = `<% manga.chapters.reverse().forEach(function(chapter,index){ %>
     <tr>
       <th scope="row" class="stt"><%= index + 1%></th>
       <td class="chapter"> <a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
           Chương <%= chapter.chapterNumber%>
         </a> </td>
       <td class="tdTruncate" data-toggle="tooltip" data-placement="bottom" title="<%= chapter.chapterName%>"><a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
           <%= chapter.chapterName%>
         </a></td>
       <td class="text-right"> <%= chapter.chapterUpdate%></td>
     </tr>
     <% }) %>`
      $('[data-toggle="tooltip"]').tooltip()
    } else if (checkBtn.value == "asc") {
      chapterList.innerHTML = `<% manga.chapters.reverse().forEach(function(chapter,index){ %>
       <tr>
         <th scope="row" class="stt"><%= index + 1%></th>
         <td class="chapter"> <a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
             Chương <%= chapter.chapterNumber%>
           </a> </td>
         <td class="tdTruncate" data-toggle="tooltip" data-placement="bottom" title="<%= chapter.chapterName%>"><a href="<%= manga.slug%>/read/chapter-<%= chapter.chapterNumber%>">
             <%= chapter.chapterName%>
           </a></td>
         <td class="text-right"> <%= chapter.chapterUpdate%></td>
       </tr>
       <% }) %>`
      $('[data-toggle="tooltip"]').tooltip()
    }
  }
</script>

</html>