<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>HOME</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/chart.css">
  <link rel="stylesheet" href="css/slide.css">

</head>

<body>
  <%- include('partials/header') %>
  <section class="section container" id="section-1">
    <%- include('partials/slide',{slides:slides}) %>
  </section>
  <section class="section container" id="section-2">
    <h3>
      <i class="far fa-newspaper"></i> Lịch ra truyện ngày <%= new Date().getDate()%>/<%= new Date().getMonth() + 1 %>/<%= new Date().getFullYear() %>
    </h3>
    <div class="timeline" style="overflow-y: scroll;height: 200px;">
      <% mangaToday.forEach(function(manga,index){  %>
      <% if (manga.chapters.length !== 0){ %>
      <div class="d-flex border-bottom">
        <p><i class="fas fa-dot-circle"></i> <b><%= manga.name %> : </b>
        </p>
        <div class="d-flex flex-column">
          <% manga.chapters.reverse().forEach((chapter,index)=>{%>
          <div class="flex ml-2">
            [ <%=  moment(chapter.createdTime).locale("vi").fromNow() %> ]
            <a href="/detail/<%= manga.slug %>">
              Chương <%= chapter.chapterNumber %> -
              <%= chapter.chapterName %>
            </a>
          </div>
          <%}) %>
        </div>
      </div>
      <%} %>
      <% }) %>
    </div>
    <hr>
    <h3><i class="fas fa-hourglass-half"></i> Lịch Cập Nhật Gần Đây</h3>
    <div class="timeline" style="overflow-y: scroll;height: 300px;">
      <% recentlyReleasedManga.forEach(function(manga,index){  %>
      <% if(manga.lastChapter) { %>
      <p class="border-bottom">
        <b><i class="fas fa-dot-circle"></i> <%= manga.name %> :</b>
        <span class="badge badge-primary text-capitalize">
          <%= moment(manga.lastChapter.createdTime).locale("vi").fromNow() %>
        </span>
        <a href="/detail/<%= manga.slug %>">
          <% manga.name %> Chương <%=  manga.lastChapter.chapterNumber%> : <%=  manga.lastChapter.chapterName%>
        </a>
        <span class="badge badge-danger"><%= manga.hot === true ? "Hot" : "" %></span>
      </p>
      <% }%>
      <% }) %>
    </div>
  </section>
  <section class="section container" id="section-3">
    <a href="/just-updated?page=1&limit=2">
      <h3 class="text-info"><i class="fas fa-book-reader"></i> Mới cập nhật</h3>
    </a>
    <div class="row">
      <% mangas.forEach(function(manga,index){ %>
      <%- include('partials/mangaList.ejs',{manga:manga}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/just-updated?page=1&limit=2" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <%- include('partials/rankCharts') %>
  <section class="section container" id="section-4">
    <a href="/popular/all?page=1&limit=2">
      <h3 style="color:rgb(54, 211, 54)"><i class="fas fa-venus-mars"></i> Truyện tổng hợp</h3>
    </a>
    <div class="row">

      <% mangaForAll.forEach(function(manga){ %>
      <%- include('partials/mangaList.ejs',{manga:manga}) %>
      <%})%>

    </div>
    <div class="text-center m-4">
      <a href="/popular/all?page=1&limit=2" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <section class="section container" id="section-5">
    <a href="/popular/male?page=1&limit=2">
      <h3 style="color:#3088F3"><i class="fas fa-mars"></i> Truyện con trai</h3>
    </a>
    <div class="row">
      <% mangaForMale.forEach(function(manga){ %>
      <%- include('partials/mangaList.ejs',{manga:manga}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/male?page=1&limit=2" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <section class="section container mb-4" id="section-6">
    <a href="/popular/female?page=1&limit=2">
      <h3 style="color: #fa1c49"><i class="fas fa-venus"></i> Truyện con gái</h3>
    </a>
    <div class="row">
      <% mangaForFemale.forEach(function(manga){ %>
      <%- include('partials/mangaList.ejs',{manga:manga}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/female?page=1&limit=2" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/tooltip.js"></script>
<script>
  // ScrollReveal().reveal('.manga-card', {
  //   // delay: 500,
  //   interval: 100,
  //   scale: 1.5,
  //   // reset: true,
  // })
</script>
<script>
  fetch('/chart/weekly')
    .then((response) => response.json())
    .then((result) => {
      console.log(result)
      const htmls = result.data.map((manga, index) => `
       <li class="rank d-flex rank-${index + 1}">
         <div class="rank__number p-1">
           <b>${index + 1}</b>
         </div>
         <div class="rank__img">
           <img src="${manga.Mangas[0].image}" alt="">
         </div>
         <div class="rank__info d-flex aligh-items-center flex-column">
           <b>${manga.Mangas[0].name}</b>
           <p>Chapter ${manga.chapters.chapterNumber}</p>
           <p>${manga.chapters.chapterName}</p>
           <div>
            <i class="fas fa-eye"></i> ${manga.chapters.statistical.views}
            </div>
         </div>
       </li>
      
      `).join("")
      document.getElementById("chart-col-2").innerHTML = `
       <div class="chart" id="chat-1">
         <p id="header-1">️🏅 Top tuần ️🎉</p>
         <h3 id="header-2">Top 10 Manga nổi bật</h3>
         <ul>
          ${htmls}
         </ul>
       </div>`
    }).catch(error => console.log(error))


  fetch('/chart/daily')
    .then((response) => response.json())
    .then((result) => {
      console.log(result)
      const htmls = result.data.map((manga, index) => `
     <li class="rank d-flex rank-${index + 1}">
       <div class="rank__number p-1">
         <b>${index + 1}</b>
       </div>
       <div class="rank__img">
         <img src="${manga.Mangas[0].image}" alt="">
       </div>
       <div class="rank__info d-flex aligh-items-center flex-column">
         <b>${manga.Mangas[0].name}</b>
         <p>Chapter ${manga.chapters.chapterNumber}</p>
         <p>${manga.chapters.chapterName}</p>
         <div>
           <i class="fas fa-eye"></i> ${manga.chapters.statistical.views}
         </div>
       </div>
     </li>

     `).join("")
      document.getElementById("chart-col-1").innerHTML = `
     <div class="chart" id="chat-1">
       <p id="header-1">️🏅 Top ngày ️🎉</p>
       <h3 id="header-2">Top 10 Manga nổi bật</h3>
       <ul>
         ${htmls}
       </ul>
     </div>`
    }).catch(error => console.log(error))
</script>

</html>