<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>HOME</title>
  <%- include("partials/link") %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('partials/header') %>
  <section class="section container" id="section-1">
    <%- include('partials/slide',{slides:slides}) %>
  </section>
  <section class="section container" id="section-2">
    <h3>
      <i class="far fa-newspaper"></i> Lịch ra truyện ngày <%= new Date().getDate()   %>/<%= new Date().getMonth() + 1 %>/<%= new Date().getFullYear() %>
    </h3>
    <div class="timeline" style="overflow-y: scroll;height: 200px;">
      <% mangaToday.forEach(function(manga,index){  %>
      <div class="d-flex border-bottom">
        <p><i class="fas fa-dot-circle"></i> <b><%= manga.name %> : </b>
        </p>
        <div class="d-flex flex-column">
          <% manga.chapters.reverse().forEach((chapter,index)=>{%>
          <div class="flex ml-2">
            [<%= chapter.chapterUpdate.split(" ")[1]%>]
            <a href="/detail/<%= manga.slug %>">
              Chương <%= chapter.chapterNumber %> -
              <%= chapter.chapterName %>
            </a>
          </div>
          <%}) %>
        </div>
      </div>
      <% }) %>
    </div>
    <h3><i class="fas fa-hourglass-half"></i> Lịch Cập Nhật Gần Đây</h3>
    <div class="timeline" style="overflow-y: scroll;height: 300px;">
      <% recentlyReleasedManga.forEach(function(manga,index){  %>
      <p><b><i class="fas fa-dot-circle"></i> <%= manga.name %> :</b> <span class="badge badge-primary text-capitalize"><%= manga.period %></span> [<%= manga.lastChapter.chapterUpdate %>] <a href="/detail/<%= manga.slug %>"> <% manga.name %> - Chương <%=  manga.lastChapter.chapterNumber%> : <%=  manga.lastChapter.chapterName%></a>
        <span class="badge badge-danger"><%= manga.hot === true ? "Hot" : "" %></span>
      </p>
      <% }) %>
    </div>
  </section>
  <section class="section container" id="section-3">
    <a href="/popular/just-updated">
      <h3 class="text-info"><i class="fas fa-book-reader"></i> Mới cập nhật</h3>
    </a>
    <div class="row">
      <% mangaJustUpdated.forEach(function(manga,index){ %>
      <%- include('partials/mangaListJustUpdated.ejs',{manga:manga.manga,period:manga.period}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/just-updated" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <section class="section container" id="section-4">
    <a href="/popular/all">
      <h3 style="color:rgb(54, 211, 54)"><i class="fas fa-venus-mars"></i> Truyện tổng hợp</h3>
    </a>
    <div class="row">
      <% mangaForAll.forEach(function(manga){ %>
      <%- include('partials/mangaListJustUpdated.ejs',{manga:manga.manga,period:manga.period}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/all" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <section class="section container" id="section-5">
    <a href="/popular/male">
      <h3 style="color:#3088F3"><i class="fas fa-mars"></i> Truyện con trai</h3>
    </a>
    <div class="row">
      <% mangaForMale.forEach(function(manga){ %>
      <%- include('partials/mangaListJustUpdated.ejs',{manga:manga.manga,period:manga.period}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/male" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <section class="section container mb-4" id="section-6">
    <a href="/popular/female">
      <h3 style="color: #fa1c49"><i class="fas fa-venus"></i> Truyện con gái</h3>
    </a>
    <div class="row">
      <% mangaForFemale.forEach(function(manga){ %>
      <%- include('partials/mangaListJustUpdated.ejs',{manga:manga.manga,period:manga.period}) %>
      <% }); %>
    </div>
    <div class="text-center m-4">
      <a href="/popular/female" class="btn btn-danger">Xem thêm nhiều truyện</a>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script>
  // ScrollReveal().reveal('.manga-card', {
  //   // delay: 500,
  //   interval: 100,
  //   scale: 1.5,
  //   // reset: true,
  // })
</script>

</html>