<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>READ</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/read.css">
  <link rel="stylesheet" href="/css/jquery.toolbar.css">
</head>

<body>
  <%- include('partials/header') %>
  <section class="section container mt-3" id="section-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item">
          <a href="/detail/<%= reading.slug%>"> <%= reading.slug%></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">chapter-<%= reading.Chapters.chapters.chapterNumber%></li>
      </ol>
    </nav>
    <div class="text-light d-flex justify-content-between">
      <div class="btns-nav">
      </div>
      <span class="darkmode float-right">
        Đăng lúc: <span class="badge badge-primary"><%= moment(reading.Chapters.chapters.createdTime).format("L") %> - <%= moment(reading.Chapters.chapters.createdTime).format("LT") %></span>
      </span>
    </div>
    <div class="text-light text-center">
      <span class="badge badge-secondary">Chương <%= reading.Chapters.chapters.chapterNumber%> - Tựa đề:</span>
      <h2 class="darkmode">
        <%= reading.Chapters.chapters.chapterName%>
      </h2>
    </div>
  </section>
  <section class="section container" id="section-2">
    <%- reading.Chapters.chapters.chapterContent %>
  </section>
  <section class="section container text-light text-center" id="section-3">
    <h3 class="text-dark">Bình luận chương <span class="badge badge-success text-light">
        <%= reading.Chapters.chapters.chapterNumber %>
      </span> <i class="fas fa-comments"></i></h3>
    <!-- Plugin Comments Facebook -->
    <div class="comments-area container bg-light">
      <div id="disqus_thread">
      </div>

      <!-- Binh luan commentbox -->
      <div class="commentbox"></div>
      <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
      <script>
        commentBox('5763945776283648-proj');
      </script>
      <!-- ******************************** -->
    </div>
    <!-- ******************************** -->

  </section>
  <section class="section " id="section-4">
    <%- include('partials/navbar') %>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Báo lỗi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <label for="from-email">Gửi từ email: </label>
            <input type="email" class="form-control" id="from-email" name="from-email" required>
            <label for="error-content">Nội dung báo lỗi: </label>
            <input type="text" class="form-control" id="error-content" name="error-content" required>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" onclick="submitError()">Gửi Admin</button>
        </div>
      </div>
    </div>
  </div>
  <div id="to-top">
    <i class="fas fa-angle-up fa-3x" onclick="toTop()"></i>
  </div>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/libraries/jquery.toolbar.js"></script>
<script>
  function renderNavigationBar(slug) {
    const chapterNumber = Number(window.location.href.split("chapter-")[1]);
    fetch(`/detail/${slug}/navigator`)
      .then((response) => response.json())
      .then((result) => {
        console.log(result);
        if (result.isSuccess) {
          const chapters = result.data.Chapters.chapters;
          var indexChapter = chapters.findIndex(
            (chapter) => chapter.chapterNumber === chapterNumber
          );
          let htmls = [];
          console.log(indexChapter);
          chapters.forEach((chapter, index) => {
            htmls.push(`<option value="chapter-${chapter.chapterNumber}" 
            ${chapterNumber===chapter.chapterNumber && "selected" }>
                     <a href="/detail/${slug}/read/chapter-${chapter.chapterNumber}">${chapter.chapterNumber}</a>
                      </option>`);
          });
          document
            .querySelector(".chapter-nav")
            .querySelector(".nav").innerHTML = `${indexChapter !== 0 ? `<a href='/detail/${slug}/read/chapter-${
                  chapters[indexChapter - 1].chapterNumber}'><i class='fas fa-2x  fa-caret-left mr-4'></i></a>`: ""
                }<select class="form-control form-select-sm" onchange="redirectChapter(this)">
                  ${htmls.join("")}
                        </select>
                      ${indexChapter !== chapters.length - 1 ? `<a href="/detail/${slug}/read/chapter-${
                   chapters[indexChapter + 1].chapterNumber}"><i class="fas fa-2x fa-caret-right ml-4"></i></a>`:""}`;

          document.querySelector(".btns-nav").innerHTML = `${indexChapter !== 0 ? `<a href='/detail/${slug}/read/chapter-${
                  chapters[indexChapter - 1].chapterNumber}' class="btn btn-success btn-sm">Chương trước</a>`: ""
          }
          ${indexChapter !== chapters.length - 1 ? `<a href="/detail/${slug}/read/chapter-${
                   chapters[indexChapter + 1].chapterNumber}" class="btn btn-primary btn-sm">Chương sau</a>`:""}`
        }
      });
  }

  function redirectChapter(it) {
    location.replace(`${it.value}`);
  }
  renderNavigationBar('<%= reading.slug %>');
</script>
<script src="/js/plugins/read.js"></script>
<script>
  $('#button').toolbar({
    content: '#toolbar-options',
  });

  function submitError() {
    const content = document.getElementById("error-content").value;
    const fromEmail = document.getElementById("from-email").value;
    if (!content || !fromEmail) {
      swal({
        title: "Cảnh báo !",
        text: "Bạn phải điền đầy đủ thông tin !",
        icon: "warning",
        button: "OK!",
      });
    } else {
      const payload = {
        fromEmail,
        content
      };
      const headers = {
        "content-Type": "application/json",
      };
      fetch("/user/alert-error", {
          method: "POST",
          body: JSON.stringify(payload),
          headers,
        })
        .then((response) => response.json())
        .then((result) => {
          if (result.isSuccess === true) {
            swal({
              title: "Báo lỗi thành công !",
              text: "Cảm ơn bạn đã báo cáo với chúng tôi !!!",
              icon: "success",
              button: "OK!",
            });
            return;
          } else {
            swal({
              title: "Có lỗi rồi",
              text: "Lỗi do bạn nhập thiếu thông tin hoặc lỗi bên phía server",
              icon: "error",
              button: "OK!",
            });
          }
        })
        .catch((error) => console.log(error));
    }
  }
</script>

</html>