<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEARCH</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/home.css">

</head>

<body>
  <%- include('partials/header') %>
  <% if (mangas.length !== 0){ %>
  <div class="container">
    <h3><i class="fas fa-clipboard-check"></i> Kết quả tìm kiếm : </h3>
  </div>
  <div class="container text-right">Có <span class="badge badge-secondary"><%= mangas.length %></span> bộ truyện tìm được</div>
  <section class="section container" id="section-1">
    <div class="row">
      <% mangas.forEach(function(manga,index){ %>
      <%- include('partials/mangaList.ejs',{manga:manga}) %>
      <% }); %>
    </div>
  </section>
  <% } else {%>
  <div class="container text-center mt-4">
    <h3 class="mt-4"><i class="fas fa-sad-tear"></i> Không có kết quả nào trùng khớp </h3>
  </div>
  <% } %>
  <%- include('partials/footer') %>
</body>

</html>
<%- include("partials/script") %>
<script src="/js/tooltip.js"></script>