<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>RESULT</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/home.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('partials/header') %>

  <h2 class="container mt-3 bg-dark rounded text-light">
    <i class='bx bxs-magic-wand'></i> Kết Quả tìm kiếm nâng cao
  </h2>

  <section class="section container" id="section-1">
    <div class="row">
      <% if(mangas.length !==0 ) {%>
      <% mangas.forEach(function(manga,index){ %>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
        <div class="manga-card">
          <% if (manga.hot === true) {
            %>
          <span class="manga-tag__hot badge badge-sm">Hot</span>
          <% } %>
          <span class="manga-tag__period" style="font-size: 13px;text-transform: capitalize;">Chưa công bố</span>
          <a href="/detail/<%= manga.slug %>">
            <img class="card-img-top manga-img" src="<%= manga.image %>" alt="Card image cap" />
          </a>
          <div class="manga-title div-template" data-template="<%=manga._id%>">
            <a class=" manga-name" href="/detail/<%= manga.slug %>">
              <h5><%= manga.name%></h5>
            </a>
            <a href="/detail/<%= manga.slug %>" class="manga-chapter">
              fix
            </a>
          </div>
          <div id="template-<%=manga._id%>" style="display: none;">
            <div class="info text-light">
              <h4 class="info__name"><%= manga.name%></h4>
              <p class="info__another-name"><b>Tên khác:</b> <%= manga.anotherName%></p>
              <ul class="info__follows">
                <li>
                  Tình trạng: <b><%= manga.status%></b>
                </li>
                <li>
                  Lượt xem: <b><%= manga.statistical.views%></b>
                </li>
                <li>
                  Đánh giá: <b><%= manga.statistical.rating%></b>
                </li>
                <li>
                  Xếp hạng: <b><%= manga.statistical.ranks%></b>
                </li>
              </ul>
              <div class="info__type">
                <b>Thể loại:</b>
                <%manga.type.forEach(function(item){ %>
                <a href="/category/<%= item  %>"><%= item  %></a>
                <% }); %>
              </div>
              <p class="info__desc">
                <%= manga.description%>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% }else {%>
      <div class="text-center">
        <h2 class="text-light bg-dark p-3"><i class="fas fa-heart-broken"></i> Chưa có truyện nào phù hợp :(</h2>
      </div>
      <% }; %>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

</html>
<%- include("partials/script") %>
<script src="/js/tooltip.js"></script>