<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="5">
  <title>Category</title>
  <%- include("partials/link") %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('partials/header') %>
  <h1><i class="fas fa-bookmark"></i>Thể loại: </h1>
  <section class="section container" id="section-1">
    <div class="row">
      <% mangas.forEach(function(manga){ %>

      <div class="col-sm-4 col-md-3 col-lg-2 p-2">
        <div class="manga-card">
          <img class="card-img-top manga-img" src="<%= manga.image %>" alt="Card image cap">
          <div class="manga-title">
            <h5 class="manga-name"><%= manga.name%></h5>
            <p class="manga-chapter">Chương 126</p>
          </div>
        </div>
      </div>
      <% }); %>

    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>

</html>