<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>ADVANCED SEARCHING</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/home.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('partials/header') %>

  <h2 class="container mt-3 bg-dark rounded text-light">
    <i class='bx bx-search-alt mt-1'></i> Tìm kiếm nâng cao
  </h2>
  <!-- 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->


  <form action="/advanced-search/result" method="post" class="container d-flex flex-wrap" id="form-advanced-search">
    <div class="row">
      <label>Thể loại : </label> <br>
      <% categories.forEach(function(type,index){ %>
      <div class="btn-group-toggle m-2" data-toggle="buttons">
        <input type="radio" name="<%= type.name %>" value="2" checked hidden>
        <input type="radio" name="<%= type.name %>" value="1" hidden>
        <input type="radio" name="<%= type.name %>" value="0" hidden>
        <button type="button" id="btn-<%= index %>" onclick="setCheck('<%= index %>','<%= type.name %>')" class="btn focus btn-secondary"><%= type.name %></button>
      </div>
      <div id='result-<%= index %>' class="mr-3" hidden></div>
      <%}) %>
    </div>
    <div class="row" style="width:100%;">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="status">Tình trạng</label> <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" value="Hoàn thành" id="status1">
          <label class="form-check-label" for="status1">
            Hoàn thành
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" value="Đang tiến hành" id="status2">
          <label class="form-check-label" for="status2">
            Đang tiến hành
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" value="null" id="status3" checked>
          <label class="form-check-label" for="status3">
            Tất cả
          </label>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="country">Quốc gia</label><br>
        <select class="form-select form-control" id="country">
          <option selected value="null">Tất cả</option>
          <% for (const country in countries) { %>
          <option value="<%= countries[country] %>"><%= countries[country] %></option>
          <%} %>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="serve">Đối tượng</label><br>
        <select class="form-select form-control" id="serve">
          <option selected value="null">Mặc định</option>
          <% for (const serve in serves) { %>
          <option value="<%= serves[serve] %>"><%= serves[serve] %></option>
          <%} %>
        </select>
      </div>
    </div>
    <div class="row" style="width:100%;">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="author">Tác giả</label><br>
        <select class="form-select form-control" id="author">
          <option selected value="null">Tất cả</option>
          <% authors.forEach(function(author,index){ %>
          <option value="<%= author._id %>"><%= author._id %></option>
          <%}) %>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="translation">Dịch giả</label><br>
        <select class="form-select form-control" id="translation">
          <option selected value="null">Tất cả</option>
          <% translation.forEach(function(elm,index){ %>
          <option value="<%= elm._id %>"><%= elm._id %></option>
          <%}) %>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="count-chapter">Số chương truyện</label><br>
        <select class="form-select form-control" id="count-chapter">
          <option selected value="null">Tất cả</option>
          <option value="2">
            <= 2 </option>
          <option value="4">
            <= 4 </option>
          <option value="50">
            <= 50 </option>
          <option value="100">
            <=100 </option>
          <option value="200">
            <=200 </option>
          <option value="500">
            <=500 </option>
          <option value="1000">
            <=1000 </option>
          <option value="2000">
            <=2000 </option>
          <option value="5000">
            <=5000 </option>
          <option value="10000">
            <=10000 </option>
        </select>
      </div>
    </div>
    <div class="row" style="width:100%;">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="hot">Độ hot</label><br>
        <select class="form-select form-control" id="hot">
          <option value="null" selected>Tất cả</option>
          <option value="true">Có</option>
          <option value="false">Không</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="sort">Sắp xếp</label><br>
        <select class="form-select form-control" id="sort">
          <option value="date-down" selected>Ngày đăng giảm dần</option>
          <option value="date-up">Ngày đăng tăng dần</option>
          <option value="like-down">Lượt thích giảm dần</option>
          <option value="like-up">Lượt thích tăng dần</option>
          <option value="view-down">Lượt views giảm dần</option>
          <option value="view-up">Lượt views tăng dần</option>
          <option value="rate-down">Đánh giá sao giảm dần</option>
          <option value="rate-up">Đánh giá sao tăng dần</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <input type="text" name="filter" id="filter" hidden>
        <button class="btn btn-warning ml-4 mt-3" type="submit" onclick="">
          Tìm kiếm
        </button>
      </div>
    </div>
  </form>
  <%- include('partials/footer') %>
</body>

</html>
<%- include("partials/script") %>
<script src="/js/tooltip.js"></script>

<script script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script>
  const rootArr = [];
  const includeArr = [];
  const exceptArr = [];


  function setCheck(index, name) {
    var $radios = $(`input[type="radio"][name="${name}"]`);
    $(`#result-${index}`).html($radios.filter(':checked').val());
    var colorClasses = ["btn-danger", "btn-success", "btn-secondary"];
    var $checked = $radios.filter(':checked');
    var $next = $radios.eq($radios.index($checked) + 1);
    if (!$next.length) {
      $next = $radios.first();
    }
    $next.prop("checked", true);
    var newValue = $radios.filter(':checked').val();
    $(`#btn-${index}`)
      .removeClass(colorClasses.join(" "))
      .addClass(colorClasses[newValue]);
    $(`#result-${index}`).html(newValue);
    if (Number(newValue) === 1) {
      includeArr.push(name)
    } else if (
      Number(newValue) === 0
    ) {
      _.remove(includeArr, function(e) {
        return e === name;
      });
      exceptArr.push(name)
    }
  }

  function submit() {
    const defaultRadios = document.querySelectorAll(`input[type="radio"][value="2"]:checked`);
    const defaultArr = [...[...defaultRadios].map((item) => item.name)]
    const status = document.querySelector("input[name='status']:checked");
    const selectAuthor = document.getElementById("author");
    const selectHot = document.getElementById("hot");
    const selectCountry = document.getElementById("country");
    const selectServe = document.getElementById("serve");
    const selectTranslation = document.getElementById("translation");
    const selectSort = document.getElementById("sort");
    const selectCountChapter = document.getElementById("count-chapter");
    // advanced - search / result
    const data = {
      includeArr,
      exceptArr,
      defaultArr,
      status: status.value,
      author: selectAuthor.value,
      hot: selectHot.value,
      country: selectCountry.value,
      serve: selectServe.value,
      translation: selectTranslation.value,
      sort: selectSort.value,
      countChapter: selectCountChapter.value
    };
    return data;
    // fetch('/advanced-search/result', {
    //     method: 'POST', // or 'PUT'
    //     headers: {
    //       'Content-Type': 'application/json',
    //     },
    //     body: JSON.stringify(data),
    //   })
    //   .then(response => response.json())
    //   .then(data => {
    //     console.log('Success:', data);

    //   })
    //   .catch((error) => {
    //     console.error('Error:', error);
    //   });
  }


  document.getElementById('form-advanced-search').addEventListener('submit', function(event) {
    // block form submit event
    event.preventDefault();
    console.log(submit())
    // Do some stuff here
    document.getElementById("filter").setAttribute("value", JSON.stringify(submit()));
    // Continue the form submit
    event.currentTarget.submit();
  })
</script>