<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Completed Mangas</title>
  <%- include("partials/link") %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('partials/header') %>
  <h2 class="container mt-3 bg-dark rounded text-light">
    <i class="fas fa-check-circle"></i> Truyện Đã hoàn thành
  </h2>
  <div class="container text-right">Tổng số <span class="badge badge-secondary"> <%= mangas.length %>
    </span></div>
  <section class="section container" id="section-1">
    <div class="row">
      <% mangas.forEach(function(manga,index){ %>
      <%- include('partials/mangaListJustUpdated.ejs',{manga:manga.manga,period:manga.period}) %>
      <% }); %>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/tooltip.js"></script>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>

</html>