<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>HOME</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/top.css">

</head>

<body>
  <%- include('partials/header') %>

  <section class="section container" id="section-1">
    <div style="display:none;">
      <button id="startConfetti">Start</button>
      <button id="stopConfetti">Stop</button>
      <button id="restartConfetti">Restart</button>
    </div>
    <div class="leaderboard">
      <div class="title">
        <i class="fas fa-trophy"></i>
        <p>
          <%= title %>
        </p>
        <i class="fas fa-trophy"></i>
        <span></span><span></span><span></span>
      </div>
      <ul>
        <% result.forEach((rank,index)=>{%>
        <li>
          <span class="rank__number"><%= index + 1 %> </span>
          <span class="rank__manga">
            <p class="rank__manga-name"><%= rank.Mangas.name %> </p>
            <small class="rank__manga-author"><%= rank.Mangas.author %></small>
          </span>
          <span class="rank__statistical">
            <p class="rank__statistical-views"><%= rank.chapters.statistical.views %> </p>
            <p>VIEWS</p>
          </span>
        </li>
        <%})%>
      </ul>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/libraries/jquery.confetti.js"></script>
<script src="/js/tooltip.js"></script>
<script>
  // ScrollReveal().reveal('.manga-card', {
  //   // delay: 500,
  //   interval: 100,
  //   scale: 1.5,
  //   // reset: true,
  // })
</script>
<script>
  fetch('/chart/weekly')
    .then((response) => response.json())
    .then((result) => {
      console.log(result)
      const htmls = result.data.map((manga, index) => `
   <li class="rank d-flex rank-${index + 1}">
     <div class="rank__number p-1">
       <b>${index + 1}</b>
     </div>
     <div class="rank__img">
       <a href="/detail/${manga.Mangas[0].slug}">
         <img src="${manga.Mangas[0].image}" alt="">
       </a>
     </div>
     <div class="rank__info d-flex aligh-items-center flex-column">
       <a href="/detail/${manga.Mangas[0].slug}">
         <b>${manga.Mangas[0].name}</b>
         <p>Chapter ${manga.chapters.chapterNumber}</p>
       </a>
       <a href="/detail/${manga.Mangas[0].slug}/read/chapter-${manga.chapters.chapterNumber}">
         <p>${manga.chapters.chapterName}</p>
       </a>
       <div>
         <i class="fas fa-eye"></i> ${manga.chapters.statistical.views}
       </div>
     </div>
   </li>

  `).join("")
      document.getElementById("chart-col-2").innerHTML = `
  <div class="chart">
    <div id="chart-2" />
    <p class="header-1">️🏅 Top tuần ️🎉</p>
    <h3 class="header-2">Top 10 Manga nổi bật</h3>
    <ul>
      ${htmls}
    </ul>
  </div>
  </div>`
    }).catch(error => console.log(error))
</script>
<script>
  var mp = 70
  var particleColors = {
    colorOptions: ["DodgerBlue", "OliveDrab", "Gold", "pink", "SlateBlue", "lightblue", "Violet", "PaleGreen", "SteelBlue", "SandyBrown", "Chocolate", "Crimson"],
    colorIndex: 0,
    colorIncrementer: 0,
    colorThreshold: 10
  };
  document.querySelector("#startConfetti").click()
  setTimeout(() => {
    document.querySelector("#stopConfetti").click()
  }, 2000);
</script>

</html>