<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>BLOG OF TYPE</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/blog.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('partials/header') %>
  <section class="section container" id="section-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center  d-flex justify-content-center aligh-items-center">
      <div class="blog-search">
        <form class="form-inline my-2 my-lg-0" action="/blog/search" method="GET">
          <div class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm blog" aria-label="search" name="query">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0 ml-1"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </nav>
    <div class="title d-flex justify-content-center">
      <% if (type === "NEWS"){%>
      <h1>Tin tức</h1><i class="fas fa-pen-nib"></i>
      <%}else{%>
      <h1>Tản mạn</h1><i class="fas fa-pen-nib"></i>
      <%} %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 p-2">
          <div class="row blog-row">
            <% blogs.forEach(function(blog){ %>
            <div class="col-12">
              <div class="blog-card d-flex">
                <div class="blog-card__cover">
                  <a href="/blog/read/<%= blog.slug %>" class="blog-card__cover">
                    <img src="<%= blog.cover %>" alt="">
                  </a>
                </div>
                <div class="blog-card__info">
                  <a href="/blog/read/<%= blog.slug %>" class="blog-card__info__title">
                    <b>
                      <%= blog.title %>
                    </b>
                  </a>
                  <span class="d-flex">
                    <b class="blog-card__info__type">
                      <a href="/blog/<%= blog.type === "NEWS"?"news":"spreads" %>">
                        <%= blog.type %>
                      </a>
                    </b>

                    <p class="blog-card__info__updatedAt">
                      <span class="ml-1 mr-1"> - </span><%= moment(blog.updatedAt).locale("vi").fromNow() %>
                    </p>
                  </span>
                  <p class="blog-card__info__desc">
                    <%= blog.desc %>
                  </p>
                  <p class="blog-card__info__statistical text-secondary">
                    <span class="mr-3">
                      <i class=" fas fa-thumbs-up"></i> <%= blog.statistical.likes %>
                    </span>
                    <span>
                      <i class="fas fa-eye"></i> <%= blog.statistical.views %>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <% }); %>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <button onclick="showMore(this)" data-skip="2" data-type="<%= type %>" class="btn btn-primary showMore__Btn" style="width: 100%;">Xem thêm</button>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/moment-with-locales.min.js"></script>

<script>
  const blogRow = document.querySelector(".blog-row")
  const showMoreBtn = document.querySelector(".showMore__Btn")

  function showMore(btn) {
    const skip = btn.getAttribute("data-skip");
    const type = btn.getAttribute("data-type");
    showMoreBtn.innerHTML = `<i class="fas fa-sync fa-spin"></i>`
    const payload = {
      skip,
      type
    };

    const headers = {
      "content-Type": "application/json",
    };

    fetch(`/blog/type/get-more`, {
        method: "POST",
        headers,
        body: JSON.stringify(payload),
      })
      .then((response) => response.json())
      .then((result) => {
        // moment(blog.updatedAt).locale("vi").fromNow()
        if (result.isSuccess === true) {
          if (result.data.blogs.length === 0) {
            showMoreBtn.innerHTML = "Đã tới giới hạn";
            return;
          }
          console.log(result);
          const htmls = result.data.blogs.map((blog) => `<div class="col-12">
          <div class="blog-card d-flex">
            <div class="blog-card__cover">
              <a href="/blog/read/${blog.slug}" class="blog-card__cover">
                <img src="${blog.cover}" alt="">
              </a>
            </div>
            <div class="blog-card__info">
              <a href="/blog/read/${blog.slug}" class="blog-card__info__title">
                <b>
                  ${blog.title}
                </b>
              </a>
              <span class="d-flex">
                <b class="blog-card__info__type">
                  <a href="/blog/${blog.type === " NEWS" ? "news" :"spreads"}">
                    ${blog.type}
                  </a>
                </b>
                <p class="blog-card__info__updatedAt">
                  <span class="ml-1 mr-1"> - </span>${moment(blog.updatedAt).locale("vi").fromNow()}
                </p>
              </span>
              <p class="blog-card__info__desc">
                ${blog.desc}
              </p>
                 <p class="blog-card__info__statistical text-secondary">
                   <span class="mr-3">
                     <i class=" fas fa-thumbs-up"></i> ${ blog.statistical.likes }
                   </span>
                   <span>
                     <i class="fas fa-eye"></i> ${ blog.statistical.views }
                   </span>
                 </p>
            </div>
          </div>
        </div>
        <hr />`).join("")
          blogRow.innerHTML += htmls;
          showMoreBtn.setAttribute("data-skip", Number(skip) + 2);
          showMoreBtn.innerHTML = "Xem tiếp"
        } else {
          console.log(result);
          swal({
            title: "Thông báo !",
            text: "Lỗi cập nhật :(",
            icon: "error",
            button: "OK!",
          });
        }
      })
      .catch((error) => console.log(error));
  }
</script>
<script>
  window.onsubmit = function(event) {
    event.target.submit()
  }
</script>

</html>