<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOG OF USER</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/blog.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <style>
    .card {
      height: 100%;
      width: 100%;
    }

    .card-title {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-indent: 15px;
    }
  </style>
</head>

<body>
  <%- include('partials/header') %>
  <section class="section container" id="section-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
      <div class="float-right" style="width: 100%;">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navBlog" aria-controls="navBlog" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" style="width: 100%;" id="navBlog">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/user/blog">Bài viết của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/blog/create-blog">Viết bài</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/blog/trash">Bài viết đã xóa</a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="d-flex">
          <input class="form-control mr-sm-2" width="100%" type="search" name="q" placeholder="Tìm Blog ..." aria-label="Search" onkeyup="liveSearch(this)" onclick="liveSearch(this)" autocomplete="off">
        </div>
      </form>
    </nav>
  </section>
  <section class="section container" id="section-2">
    <div class="row" id="blog-list">
      <% blogs.forEach((blog,index)=>{%>
      <div class="col-6 col-sm-4 col-md-3 p-2">
        <div class="card" style="width: 100%;">
          <a href="/blog/read/<%= blog.slug %>">
            <img class="card-img-top" src="<%= blog.cover %>" alt="Image for <%= blog.title %> ">
          </a>
          <div class="card-body">
            <%  if(blog.status === "PENDING"){%>
            <h5 class="card-title"><%= blog.title %></h5>
            <%}else{%>
            <h5><a class="card-title" href="/blog/read/<%= blog.slug %>" style="text-decoration: none; color: black;"><%= blog.title %></a></h5>
            <%} %>
            <p class="card-text"><%= blog.desc %></p>
            <div class="d-flex">
              <b>
                <span>
                  Trạng thái:
                </span>
                <%  if(blog.status === "PENDING"){%>
                <span class="badge badge-warning">
                  Chờ phê duyệt
                </span>
                <%}else{%>
                <span class="badge badge-success">
                  Hoạt động
                </span>
                <%} %>
              </b>
            </div>
            <div class="text-right">
              <a href="/user/blog/update-blog/<%= blog._id %>" class="text-primary" data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa"><i class="fas fa-edit"></i></a>
              <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" data-placement="bottom" title="Loại bỏ" style="cursor: pointer;" onclick="deleteBlog('<%= blog._id %>')"></i>
            </div>
          </div>
        </div>
      </div>
      <%}) %>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/moment-with-locales.min.js"></script>

<script>
  //Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  function deleteBlog(blogId) {
    swal({
      title: "Bạn có chắc chắn muốn xóa bài viết này không? ",
      text: "Nếu xóa bạn vẫn có thể khôi phục bài viết !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch(`/user/blog/api/delete-blog/${blogId}`, {
            method: 'DELETE', // or 'PUT'
          })
          .then(response => response.json())
          .then(data => {
            if (data.isSuccess) {
              swal({
                title: "Thành công",
                text: "Đã xóa thành công !",
                icon: "success",
                button: "Ok!",
              }).then(() => {
                location.reload()
              })
            }

          })
          .catch((error) => {
            console.log('Error:', error);
          })
      } else {
        return;
      }
    });
  }
</script>
<script>
  function liveSearch(e) {
    // Live Searching
    if (e.value === "") {
      return
    }
    fetch("/user/blog/api/live-search", {
      method: "POST",
      headers: {
        "Content-type": "application/json"
      },
      body: JSON.stringify({
        payload: e.value
      })
    }).then(res => res.json()).then(result => {
      console.log(result)
      const htmls = result.data.map((blog) => `
      <div class="col-6 col-sm-4 col-md-3 p-2">
      <div class="card" style="width: 100%;">
        <a href="/blog/read/${blog.slug}">
          <img class="card-img-top" src="${blog.cover}" alt="Image for ${ blog.title } ">
        </a>
        <div class="card-body">
          ${ (blog.status === "PENDING") ?
          `<h5 class="card-title">${ blog.title }</h5>`
          :`<h5><a class="card-title" href="/blog/read/${blog.slug}" style="text-decoration: none; color: black;">${ blog.title }</a></h5>`}
          <p class="card-text">${ blog.desc }</p>
          <div class="d-flex">
            <b>
              <span>
                Trạng thái:
              </span>
             ${(blog.status === "PENDING")?
              `<span class="badge badge-warning">
                Chờ phê duyệt
              </span>`
              :
              `<span class="badge badge-success">
                Hoạt động
              </span>`}
            </b>
          </div>
          <div class="text-right">
            <a href="/user/blog/update-blog/${ blog._id }" class="text-primary" data-toggle="tooltip" data-placement="bottom" title="Chỉnh sửa"><i class="fas fa-edit"></i></a>
            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" data-placement="bottom" title="Loại bỏ" style="cursor: pointer;" onclick="deleteBlog('${ blog._id }')"></i>
          </div>
        </div>
        </div>
      </div>`).join("")
      document.querySelector("#blog-list").innerHTML = htmls
      // document.getElementById("result-live-search").innerHTML = htmls
    }).catch(error => console.log(error));
  };
</script>

</html>