<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOG OF USER</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/blog.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <style>
    .card-img-top {
      /* width: 100%;
      height: 200px;
      object-fit: contain; */
    }

    .card a {
      text-decoration: none;
    }

    .card-title {
      color: black;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-indent: 15px;
    }
  </style>
</head>

<body>
  <%- include('partials/header') %>
  <section class="section container" id="section-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
      <div class="float-right" style="width: 100%;">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navBlog" aria-controls="navBlog" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" style="width: 100%;" id="navBlog">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Bài viết của tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/blog/create-blog">Viết bài</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/blog/trash">Bài viết đã xóa</a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="d-flex">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success ml-3" type="submit">Search</button>
        </div>
      </form>
    </nav>
  </section>
  <section class="section container" id="section-2">
    <div class="row">
      <% blogs.forEach((blog,index)=>{%>
      <div class="col-6 col-sm-4 col-md-3 p-2">
        <div class="card" style="width: 100%;">
          <a href="/blog/read/<%= blog.slug %>">
            <img class="card-img-top" src="<%= blog.cover %>" alt="Image for <%= blog.title %> ">
          </a>
          <div class="card-body">
            <%  if(blog.status === "PENDING"){%>
            <h5><%= blog.title %></h5>
            <%}else{%>
            <a class="card-title" href="/blog/read/<%= blog.slug %>">
              <h5><%= blog.title %></h5>
            </a>
            <%} %>
            <p class="card-text"><%= blog.desc %></p>
            <div class="d-flex">
              <b>Trạng thái:
                <span class="badge badge-danger">
                  Đã xóa
                </span>
              </b>
            </div>
            <div class="text-right">
              <i class="fas fa-repeat-alt text-danger" data-toggle="tooltip" data-placement="bottom" title="Loại bỏ" style="cursor: pointer;" onclick="recoverBlog('<%= blog._id %>')"></i>
            </div>
          </div>
        </div>
      </div>
      <%}) %>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="/js/moment-with-locales.min.js"></script>

<script>
  //Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  function recoverBlog(blogId) {
    fetch(`/user/blog/api/recover-blog/${blogId}`, {
        method: 'PATCH', // or 'PUT'
      })
      .then(response => response.json())
      .then(data => {
        if (data.isSuccess) {
          swal({
            title: "Thành công",
            text: "Đã khôi phục thành công !",
            icon: "success",
            button: "Ok!",
          }).then(() => {
            location.reload()
          })
        }

      })
      .catch((error) => {
        console.log('Error:', error);
      })
  }
</script>

</html>