<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>AUTHOR FORUM</title>
  <%- include("../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/forum_author.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <div class="section" id="section-1">
      <div class="row">
        <div class="col-3">
          <div class="info-left">
            <div class="author__avatar">
              <img src="<%= author.images.jpg.image_url %>" width="100%" alt="">
            </div>
            <div class="author__name text-center">
              <h2><%= author.name %></h2>
            </div>
            <div class="author__paticals">
              <p><b>Given name: </b><%= author.given_name %> </p>
              <p><b>Family name: </b><%= author.family_name %> </p>
              <p><b>Birthday: </b> <%= moment(author.birthday).format("L") %> </p>
              <p><b>favorites: </b> <%= author.favorites %> </p>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row info-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/forum">Forum</a></li>
                <li class="breadcrumb-item active" aria-current="page">Author</li>
              </ol>
            </nav>
            <ul class="navigation">
              <li><a href="#" class="disabled">Detail</a></li>
              <li><a href="#">Author</a></li>
              <li><a href="#">Characters</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Recommendations</a></li>
              <li><a href="#">Interest Stacks</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Clubs</a></li>
              <li><a href="#">Pictures</a></li>
            </ul>
            <div class="author__info">
              <div class="author__info-about">
                <h3>About</h3>
                <p><%= author.about %></p>
                <hr>
                <h3>Series</h3>
                <div class="author__info-series-manga">
                  <% mangaList.forEach(function(elm,index){%>
                  <div class="d-flex m-2">
                    <img src="<%= elm.manga.images.jpg.image_url %>" width="100px" alt="">
                    <div class="d-flex manga__series-info">
                      <a href="/forum/detail/<%= elm.manga.mal_id %>">
                        <b> <%= elm.manga.title %> </b>
                      </a>
                      <p><b>Position: </b> <%= elm.position %> </p>
                    </div>
                  </div>
                  <%}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section mt-4" id="section-2">
      <div class="row">
        <div class="genres-list"></div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
<%- include("../partials/script") %>
<script src="/js/vanilla-counter.js"></script>
<script>
  VanillaCounter();

  fetch("/forum/genres").then((res) => res.json()).then((result) => {
    const htmls = result.data.map((elm, index) => `
       <a href="${elm.url}" target="_blank" class="m-1">
      <span class="badge badge-info">
        ${ elm.name } (${elm.count})
      </span>
      </a>
    `).join("")
    document.querySelector('.genres-list').innerHTML = htmls
    console.log(result)
  })
</script>

</html>