<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>DETAIL FORUM</title>
  <%- include("../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/forum_character.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!-- OWL CAROUSEL -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/forum/search-character">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Character..." aria-label="Search" name="question">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
    <div class="section" id="section-1">
      <div class="row">
        <div class="col-3">
          <div class="info-left">
            <div class="character__name text-center">
              <h2><%= character.name %></h2>
            </div>
            <div class="character__avatar">
              <img src="<%= character.images.jpg.image_url %>" width="100%" alt="">
            </div>
            <div class="character__paticals">
              <p>Add to My List</p>
              <hr>
              <p>Add to My Favorites</p>
              <hr>
              <div class="share d-flex flex-wrap justify-content-around">
                <span>
                  <i class="fab fa-2x fa-facebook-square"></i>
                </span>
                <span>
                  <i class="fab fa-2x fa-instagram-square"></i>
                </span>
                <span>
                  <i class="fab fa-2x fa-pinterest-square"></i>
                </span>
                <span>
                  <i class="fab fa-2x fa-tumblr-square"></i>
                </span><span>
                  <i class="fab fa-2x fa-twitter-square"></i>
                </span><span>
                  <i class="fab fa-2x fa-reddit-square"></i>
                </span>
              </div>
              <br>
              <h5>Alternative Titles</h5>
              <hr>
              <span><b>Default Name:</b> <%= character.name %> </span>
              <br>
              <span><b>Japanese Name (kanji):</b> <%= (character.name_kanji) ? character.name_kanji : 'unknown' %> </span>
              <br>
              <b>Nick Name:</b>
              <ul>
                <%= (character.nicknames.length === 0 ) ? 'unknown' : ''%>
                <% character.nicknames.forEach(function(nickname,index){%>
                <li> <%= nickname %> </li>
                <%}) %>
              </ul>
              <div><b>Favorites:</b>
                <%= character.favorites %> <i class='bx bx-happy-heart-eyes'></i>
              </div>
              <div><b>Source:</b>
                <a href="<%= character.url %>">myanimelist</a>
              </div>
              <div class="animeography mt-4">
                <h5>Animeography</h5>
                <hr>
                <div class="anime-list">
                  <% character.anime.forEach(function(anime,index){%>
                  <div class="anime d-flex">
                    <a href="<%= anime.anime.url %>" target="_blank">
                      <img src="<%= anime.anime.images.jpg.small_image_url %>" class="anime-cover mb-3" alt="">
                    </a>
                    <div class="anime__info d-flex flex-column ml-3">
                      <a href="<%= anime.anime.url %>" target="_blank">
                        <small><%= anime.anime.title %></small>
                      </a>
                      <span>
                        <p>
                          <b>
                            role:
                          </b> <%= anime.role %>
                        </p>
                      </span>
                      <small class="float-right">[
                        <a href="<%= anime.anime.url %>" target="_blank">source</a>
                        ]</small>
                    </div>
                  </div>
                  <hr>
                  <%}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row info-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/forum">Forum</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
              </ol>
            </nav>
            <ul class="navigation">
              <li><a href="/forum/character/<%= character.mal_id %>" class="disabled">Detail</a></li>
              <li><a href="#">Clubs</a></li>
              <li><a href="#">Pictures</a></li>
            </ul>
            <div class="about">
              <h5>About</h5>
              <hr>
              <p>
                <%= character.about %>
              </p>
            </div>
            <div class="voice__actors">
              <h5>Voice Actors</h5>
              <hr>
              <div class="actor-list">
                <% character.voices.forEach(function(actor,index){%>
                <div class="actor d-flex <%= (index % 2 === 0)? 'gray' : '' %> ">
                  <a href="<%= actor.person.url %>" target="_blank">
                    <img src="<%= actor.person.images.jpg.image_url %>" class="actor-avatar mb-3" alt="">
                  </a>
                  <div class="actor__info d-flex flex-column ml-3">
                    <a href="<%= actor.person.url %>" target="_blank">
                      <b><%= actor.person.name %></b>
                    </a>
                    <span>
                      <b>
                        language:
                      </b>
                      <%= actor.language %>
                    </span>
                    <small class="float-right">[
                      <a href="<%= actor.person.url %>" target="_blank">source</a>
                      ]</small>
                  </div>
                </div>
                <%}) %>
              </div>
            </div>
            <div class="mangaography mt-4">
              <h5>Mangaography</h5>
              <hr>
              <div class="manga-list">
                <% character.manga.forEach(function(manga,index){%>
                <div class="manga d-flex <%= (index % 2 === 0)? 'gray' : '' %> ">
                  <a href="/forum/detail/<%= manga.manga.mal_id %>">
                    <img src="<%= manga.manga.images.jpg.image_url %>" class="manga-cover mb-3" alt="">
                  </a>
                  <div class="manga__info d-flex flex-column ml-3">
                    <a href="/forum/detail/<%= manga.manga.mal_id %>">
                      <b><%= manga.manga.title %></b>
                    </a>
                    <span>
                      <b>
                        role:
                      </b>
                      <%= manga.role %>
                    </span>
                    <small class="float-right">[
                      <a href="<%= manga.manga.url %>" target="_blank">source</a>
                      ]</small>
                  </div>
                </div>
                <%}) %>
              </div>
            </div>
            <div class="pictures mt-4">
              <h3>Pictures</h3>
              <hr>
              <div class="author__info-pictures d-flex justify-content-around flex-wrap">
                <% pictures.forEach(function(pic,index){%>
                <!-- Button trigger modal -->

                <img src="<%= pic.jpg.image_url %>" width="100px" alt="" data-toggle="modal" data-target="#pic<%=index %>">

                <!-- Modal -->
                <div class="modal fade" id="pic<%=index %>" tabindex="-1" role="dialog" aria-labelledby="pic<%=index %>Label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body d-flex justify-content-center align-items-center">
                        <img src="<%= pic.jpg.image_url %>" width="100%" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <%}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section mt-4" id="section-2">
      <div class="row">
        <div class="genres-list"></div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
<%- include("../partials/script") %>
<script src="/js/vanilla-counter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
  VanillaCounter();

  fetch("/forum/genres").then((res) => res.json()).then((result) => {
    const htmls = result.data.map((elm, index) => `
       <a href="${elm.url}" target="_blank" class="m-1">
      <span class="badge badge-info">
        ${ elm.name } (${elm.count})
      </span>
      </a>
    `).join("")
    document.querySelector('.genres-list').innerHTML = htmls
    console.log(result)
  })
</script>

</html>