<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>RESULT SEARCHING FORUM</title>
  <%- include("../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/forum.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/forum/search-author">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Author" aria-label="Search" name="question">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
    <div class="section" id="section-1">
      <div class="row">
        <% result.data.forEach((manga,index)=>{%>
        <div class="col-4 col-md-4 col-sm-6">
          <div class="card author" style="width: 100%;">
            <div class="author-header row">
              <div class="col-7 author-cover">
                <a href="/forum/author/<%= manga.mal_id %>">
                  <img class="card-img-top" src="<%= manga.images.jpg.image_url %>" height="" alt="Author avatar">
                </a>
              </div>
              <div class="col-5">
                <div class="author-params">
                  <div><b>Author:</b>
                  </div>
                </div>
              </div>
              <div class="card-body manga-info">
                <a class="card-title manga-info__title text-center" href="<%= manga.url %>">
                  <h5><%= manga.title %></h5>
                </a>
                <div class="manga-info__react d-flex">
                  <div class="manga-info__react-item ml-2 react-score" data-toggle="tooltip" data-placement="bottom" title="score"><i class="fas fa-star"></i> <%= manga.score %></div>
                  <div class="manga-info__react-item ml-2 react-rank" data-toggle="tooltip" data-placement="bottom" title="rank"><i class="fas fa-crown"></i> <%= manga.rank %></div>
                  <div class="manga-info__react-item ml-2 react-popularity" data-toggle="tooltip" data-placement="bottom" title="popularity"><i class="fas fa-fire-alt"></i> <%= manga.popularity %></div>
                  <div class="manga-info__react-item ml-2 react-members" data-toggle="tooltip" data-placement="bottom" title="members"><i class="fas fa-users"></i> <%= manga.members %></div>
                  <div class="manga-info__react-item ml-2 react-favorites" data-toggle="tooltip" data-placement="bottom" title="favorites"><i class="fas fa-thumbs-up"></i> <%= manga.favorites %></div>
                </div>
                <div class="manga-info__types text-center">
                  <% manga.themes.forEach(function(theme,index){%>
                  <a href="<%= theme.url %>" target="_blank">
                    <span class="badge badge-warning">
                      <%= theme.name %>
                    </span>
                  </a>
                  <%}) %>
                </div>
                <div class="manga-info__types text-center">
                  <% manga.genres.forEach(function(type,index){%>
                  <a href="<%= type.url %>" target="_blank">
                    <span class="badge badge-info">
                      <%= type.name %>
                    </span>
                  </a>
                  <%}) %>
                </div>
                <p class="card-text manga-info__content"> <%= (manga.synopsis) ? (manga.synopsis) : 'No synopsis information has been added to this title' %></p>
              </div>
            </div>
          </div>
          <%}) %>
        </div>
      </div>


    </div>
    <%- include('../partials/footer') %>
</body>
<%- include("../partials/script") %>
<script>
  // Tooltips
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

</html>