<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>RESULT SEARCHING FORUM</title>
  <%- include("../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/forum_author.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <div class="d-flex justify-content-center">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/forum/search-character">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Manga" aria-label="Search" name="question" value="<%= q %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
    <div class="section" id="section-1">
      <% if(pagination.length === 0){%>
      <div class="text-center bg-dark text-light" style="width: 100%;">
        <h2>NO MATCHING SEARCH <i class="fas fa-sad-tear"></i></h2>
      </div>
      <%}else{%>
      <div class="text-right">
        <span class="badge badge-success">
          Result: <%= pagination.items.total %>
        </span>
        <span class="badge badge-warning">
          Result per page: <%= pagination.items.per_page %>
        </span>
        <span class="badge badge-danger">
          Result in page: <%= pagination.items.count %>
        </span>
      </div>
      <%} %>

      <div class="row">
        <% result.forEach((character,index)=>{%>
        <div class="col-3 col-md-3 col-sm-4">
          <div class="card author mb-3" style="width: 100%;min-height: 150px;">
            <div class="author-avatar">
              <a href="/forum/character/<%= character.mal_id %>">
                <img class="card-img-top" src="<%= character.images.jpg.image_url %>" height="" alt="Author avatar">
              </a>
            </div>
            <div class="author-info">
              <div class="author-info__name text-center"><b><%= character.name %></b>
              </div>
              <div class="text-center">
                <% if(character.given_name &&  character.kanji ) {%>
                (<%= character.given_name %>) - (<%= character.family_name %> )<% } %>
              </div>
            </div>
          </div>
        </div>
        <%}) %>
      </div>
    </div>

  </div>
  </div>
  <%- include('../partials/footer') %>
</body>
<%- include("../partials/script") %>
<script>
  // Tooltips
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

</html>