<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOTIFICATION TRASH</title>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/fullscreenImg.css">

  <%- include("../../partials/link") %>

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/manage_manga.css">

</head>

<body>
  <%- include("../../admin/partials/header") %>
  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/management/content/admin">Trang quản lí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông báo đã xóa</li>
      </ol>
    </nav>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-4 d-flex">
        <h3>Danh sách Thông báo</h3>
        <p class="align-items-center">
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 d-flex mb-1">
        <a href="/management/content/notification?page=1&limit=2" class="btn btn-sm btn-primary ml-2">Quản lí thông báo</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-between align-items-center mb-1">
        <button class="light-mode-button" aria-label="Toggle Light Mode" onclick="toggle_light_mode()">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <div id="toolbar" class="d-flex">
      <button id="recoverChecked" class="btn btn-success btn-sm mb-2" onclick="restoreAll()">Khôi phục toàn bộ <i class="fas fa-retweet-alt"></i></button>
    </div>
    <table class="table table-dark table-striped table-hover" id="table">
      <thead>
        <tr class="text-center">
          <th scope="col">STT</th>
          <th scope="col">Tên</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Gửi từ</th>
          <th scope="col"><i class="fas fa-link"></i></th>
          <th scope="col">Tạo lúc</th>
          <th scope="col">Cập nhật</th>
          <th scope="col">Xóa lúc</th>
          <th scope="col"><input type="checkbox" name="check-all" id="check-all" onchange="checkAll(this)"></th>
          <th scope="col"><i class="fas fa-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <% if (publicNotifications.length !== 0){%>
        <% publicNotifications.forEach((notification,index)=>{%>
        <tr id="noti-<%= notification._id%>">
          <th scope="row" class="text-center"><%= index + 1 %> </th>
          <td><%= notification.name %></td>
          <td><img src="<%= notification.image %>" alt="notification-img" style="width: 100px;height: 100px; object-fit: cover;" data-toggle="modal" data-target="#imgModal-<%= notification._id%>" />
            <!-- Modal -->
            <div class="modal fade" id="imgModal-<%= notification._id%>" tabindex="-1" role="dialog" aria-labelledby="imgModal-<%= notification._id%>Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    <img src="<%= notification.image %>" alt="notification-img" style="width: 100%" data-toggle="modal" data-target="#imgModal" />
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td><%= notification.content %></td>
          <td>
            <button class="btn btn-warning btn-sm" onclick="checkFromUser('<%= notification.fromUser %>')">
              Xem
            </button>
          </td>
          <td><a href="<%= notification.url %>">Đi tới</a></td>
          <td><%= moment(notification.createdAt).format("L") %> <br> <%= moment(notification.createdAt).format("LT") %></td>
          <td><%= moment(notification.updatedAt).format("L") %> <br> <%= moment(notification.updatedAt).format("LT") %></td>
          <td><%= moment(notification.deletedAt).format("L") %> <br> <%= moment(notification.deletedAt).format("LT") %></td>
          <td><input type="checkbox" name="check-row" class="check-row" data-id="<%= notification._id %>" onchange="changeElm(this)"></td>
          <td class="text-center">
            <div class="btn btn-success btn-sm" onclick="restore('<%= notification._id%>')">Khôi phục</div>
            <!--  -->
            <div class="btn btn-danger btn-sm mt-2" onclick="destroy('<%= notification._id %>')">Xóa</div>
          </td>
        </tr>
        <%}) %>
        <%}else{%>
        <div class="text-center"><b class="text-danger">Chưa có thông báo nào bị xóa!</b></div>
        <%} %>
      </tbody>
    </table>

    <!-- paging -->
    <div class="container mt-4 d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap">
          <!-- First Page -->
          <li class="page-item <% if(!navigator.previous){ %>disabled<%}%>"><button class="page-link"  onclick="changeQueryPaging('page','1','limit','<%= navigator.limit %>')">First</button></li>
          <!-- Previous Page -->
          <li class="page-item <% if(!navigator.previous){ %>disabled<%}%>"><button class="page-link"  onclick="changeQueryPaging('page','<%= (navigator.previous) && navigator.previous.previousPage %>','limit','<%= navigator.limit %>')">Previous</button></li>
          <!-- Pages -->
          <% for(var i=1; i<=navigator.totalPages; i++) {%>
          <% if(i > navigator.activePage - 4 && i< navigator.activePage + 4 ){%>
          <li class=" page-item <%= (navigator.activePage === i) && 'active' %>"><a class="page-link" onclick="changeQueryPaging('page','<%= i %>','limit','<%= navigator.limit %>')"><%= i %></a></li>
          <%} %>
          <% }%>
          <!-- Next Page -->
          <li class="page-item <% if(!navigator.next){ %>disabled<%}%>"><button class="page-link" onclick="changeQueryPaging('page', '<%= (navigator.next) && navigator.next.nextPage %>', 'limit', '<%= navigator.limit %>')">Next</button></li>
          <!-- Last Page -->
          <li class="page-item <% if(!navigator.next){ %>disabled<%}%>"><button class="page-link" onclick="changeQueryPaging('page', '<%= navigator.totalPages %>', 'limit', '<%= navigator.limit %>')">Last</button></li>
          <li class="page-item">
            <select class="form-select form-control ml-2" onchange="changeLimitQuery(this)">
              <option selected>Giới hạn</option>
              <option value="2" <%= (navigator.limit === 2) && "selected" %>>2</option>
              <option value="3" <%= (navigator.limit === 3) && "selected" %>>3</option>
              <option value=" 5" <%= (navigator.limit === 5) && "selected" %>>5</option>
              <option value="10" <%= (navigator.limit === 10) && "selected" %>>10</option>
              <option value="20" <%= (navigator.limit === 20) && "selected" %>>20</option>
              <option value="30" <%= (navigator.limit === 30) && "selected" %>>30</option>
            </select>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>
<%- include("../../partials/script") %>
<script src="/js/moment.min.js"></script>
<script src="/js/darkMode.js"></script>
<script>
  function changeQuery(feild, value) {
    const urlParams = new URLSearchParams(window.location.search);

    urlParams.set(feild, value);
    urlParams.set("page", "1");
    window.location.search = urlParams;
  }

  function changeTypeQuery(it) {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('type', it.value);
    urlParams.set("page", "1");
    window.location.search = urlParams;
  }

  function changeQueryPaging(page, pageValue, limit, limitValue) {
    const urlParams = new URLSearchParams(window.location.search);

    urlParams.set(page, pageValue);
    urlParams.set(limit, limitValue);

    window.location.search = urlParams;
  }

  function changeLimitQuery(it) {
    const urlParams = new URLSearchParams(window.location.search);

    urlParams.set('limit', it.value);
    urlParams.set("page", "1");

    window.location.search = urlParams;
  }

  function checkFromUser(fromUserId) {
    alert(fromUserId)
  }
</script>
<script>
  function restore(notificationId) {
    fetch('/management/content/notification/api/restore/' + notificationId, {
        method: 'PATCH', // or 'PUT'
      })
      .then(response => response.json())
      .then(result => {
        console.log(result)
        if (result.isSuccess) {
          swal({
            title: "Thông báo",
            text: "Khôi phục thành công",
            icon: "success",
            button: "OK!",
          });
          document.getElementById(`noti-${notificationId}`).remove();
          return;
        } else if (!result.isSuccess) {
          swal({
            title: "Thông báo",
            text: "Có lỗi xảy ra",
            icon: "error",
            button: "OK!",
          });
          return;
        }
      }).catch((error) => {
        console.log('Error:', error);
      })
  }
</script>
<script>
  function destroy(notificationId) {
    swal({
      title: "Bạn có chắc chắn muốn xóa không",
      text: "Nếu xóa bạn không thể khôi phục thông báo !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch('/management/content/notification/api/destroy/' + notificationId, {
            method: 'DELETE', // or 'PUT'
          })
          .then(response => response.json())
          .then(result => {
            console.log(result)
            if (result.isSuccess) {
              swal({
                title: "Thông báo",
                text: "Xóa vĩnh viễn thành công",
                icon: "success",
                button: "OK!",
              });
              document.getElementById(`noti-${notificationId}`).remove();
              return;
            } else if (!result.isSuccess) {
              swal({
                title: "Thông báo",
                text: "Có lỗi xảy ra",
                icon: "error",
                button: "OK!",
              });
              return;
            }
          }).catch((error) => {
            console.log('Error:', error);
          })
      } else {
        return;
      }
    });
  }
</script>
<script>
  const checkList = document.querySelectorAll(".check-row");
  const checkboxAllBtn = document.getElementById("check-all");

  function checkAll(input) {
    const bool = input.checked;
    checkList.forEach((checkInput, index) => {
      checkInput.checked = bool;
    })
  }

  function changeElm(input) {
    let totalChecked = 0;
    checkList.forEach((checkbox, index) => {
      if (checkbox.checked === true) {
        totalChecked++
      }
    });

    if (!input.checked) {
      checkboxAllBtn.checked = false;
    } else {
      checkboxAllBtn.checked = totalChecked === checkList.length;
    }
  }

  function restoreAll() {
    const notiIdList = [];
    checkList.forEach((checkbox, index) => {
      if (checkbox.checked === true) {
        notiIdList.push(checkbox.getAttribute("data-id"))
      }
    });

    fetch('/management/content/notification/api/restore-checked/', {
        method: 'PATCH', // or 'PUT'
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify(notiIdList)
      })
      .then(response => response.json())
      .then(result => {
        console.log(result)
        if (result.isSuccess) {
          swal({
            title: "Thông báo",
            text: "Khôi phục thành công",
            icon: "success",
            button: "OK!",
          }).then(() => {
            location.reload();
          })
          return;
        } else if (!result.isSuccess && result.errorCode === "BAD_REQUEST") {
          swal({
            title: "Thông báo",
            text: "Danh sách cần khôi phục trống",
            icon: "error",
            button: "OK!",
          });
          return;
        } else if (!result.isSuccess) {
          swal({
            title: "Thông báo",
            text: "Có lỗi xảy ra",
            icon: "error",
            button: "OK!",
          });
          return;
        }
      }).catch((error) => {
        console.log('Error:', error);
      })
  }
</script>

</html>