<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAIL MANAGEMENT</title>
  <link rel="icon" href="/image/tablogo.png">
  <%- include("../../partials/link") %>
  <link rel="stylesheet" href="/css/fullscreenImg.css">
  <link rel="stylesheet" href="/css/slideDashboard.css">
  <link rel="stylesheet" href="/css/manage_manga.css">
  <link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">

</head>

<body>
  <%- include("../../admin/partials/header") %>

  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/management/content/admin">Trang quản lí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lí mail</li>
      </ol>
    </nav>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h3>Quản lí Mail</h3>
        <div class="statistical d-flex">
          <p>Tổng : <span class="badge badge-primary slideSum"><%= mails.length %> </span> | </p>
          <p class="ml-1 mr-1"><span class="badge badge-success"><%= mails.filter((mail)=>mail.deleted === false).length %> </span> mail hoạt động</p>
          <p><span class="badge badge-warning"><%= mails.length - mails.filter((mail)=>mail.deleted === false).length %></span> mail đã hủy </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex mb-2">
        <a href="/management/content" class="btn btn-sm btn-warning">Quản lí chung <i class="fas fa-book"></i></a>
        <a href="/management/content/mail/send-mail" class="btn btn-sm btn-primary ml-2">Gửi mail <i class="fas fa-share-square"></i></a>
        <a href="/management/content/mail/trash" class="btn btn-sm btn-danger ml-2">Thùng rác <i class="fas fa-trash-alt"></i></a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-end">
        <button class="light-mode-button" aria-label="Toggle Light Mode" onclick="toggle_light_mode()">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div id="toolbar">
    <button id="deleteChecked" class="btn btn-danger btn-sm">Xóa hết <i class="fas fa-trash"></i></button>
  </div>
  <section class="container">
    <table class="table table-striped table-bordered table-sm" id="table" data-height="250px" data-url="/management/content/mail/api/getList" data-pagination="true" data-show-columns="true" data-page-size="2" data-page-list="[2,4,6]" data-buttons-class="primary" data-resizable="true" data-toggle="table" data-show-toggle="true" data-search="true" data-show-jump-to="true" data-show-columns-toggle-all="true" data-show-columns-search="true" data-show-fullscreen="true" data-show-refresh="true" data-response-handler="responseHandler" data-click-to-select="true" data-advanced-search="true" data-id-table="advancedTable" data-show-print="true" data-show-export="true" data-show-pagination-switch="true" data-toolbar="#toolbar">
      <thead>
        <tr class="text-center">
          <th scope="col" data-field="index" data-sortable="true">STT</th>
          <th scope="col" data-field="email" data-sortable="true" data-formatter="emailFormatter">Email</th>
          <th scope="col" data-field="createdAt" data-sortable="true" data-formatter="createdAtFormatter">Đã tạo</th>
          <th scope="col" data-field="updatedAt" data-sortable="true" data-formatter="updatedAtFormatter">Đã cập nhật</th>
          <th data-field="state" data-checkbox="true"></th>
          <th scope="col" data-field="_id" data-formatter="handleFormatter">Tác vụ</th>
        </tr>
      </thead>
    </table>
  </section>
</body>
<%- include("../../partials/script") %>
<script src="/js/moment.min.js"></script>
<script src="/js/darkMode.js"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/print/bootstrap-table-print.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>

<script>
  function responseHandler(res) {
    res.rows.forEach(function(row, i) {
      row.index = `<div class="text-center">${i + 1}</div>`
    })
    return res
  }


  function emailFormatter(data, row, index) {
    return `
     <div class="text-center">
      ${row.email}
     </div>`
  }

  function handleFormatter(data, row) {
    return `   <div class="text-center">
        <a href="/management/content/mail/send-mail-to-one/${data}" class="btn btn-primary btn-sm mt-1">Gửi thư</a>
        <button class="btn btn-danger btn-sm mt-1" onclick="deleteEmail('${data}')">Xóa</button>
        </div>`
  }

  function createdAtFormatter(data, slide, index) {
    return `<div class="text-center">
    ${ moment(data).format("L") }<br> ${ moment(data).format("LT") }</div>`
  }

  function updatedAtFormatter(data, slide, index) {
    return `<div class="text-center">${ moment(data).format("L") }<br> ${ moment(data).format("LT") }</div>`
  }
</script>

<script>
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script>
  function deleteEmail(emailId) {
    swal({
      title: "Bạn có chắc chắn muốn xóa không",
      text: "Nếu xóa bạn vẫn có thể khôi phục email !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch(`/management/content/mail/api/delete/${emailId}`, {
            method: 'DELETE', // or 'PUT'
          })
          .then(response => response.json())
          .then(data => {
            if (data.isSuccess) {
              swal({
                title: "Thành công",
                text: "Đã xóa thành công !",
                icon: "success",
                button: "Ok!",
              }).then(() => {
                location.reload()
              })
            }

          })
          .catch((error) => {
            console.log('Error:', error);
          })
      } else {
        return;
      }
    });
  }
</script>
<script>
  //Delete checked 
  var $table = $('#table')
  var $button = $('#deleteChecked')

  $(function() {
    $button.click(function() {
      const idList = [];
      document.querySelectorAll("[name='btSelectItem']:checked").forEach((item, index) => {
        idList.push(item.parentElement.parentElement.parentElement.id)
      })
      // console.log(idList)
      if (idList.length === 0) {
        swal({
          title: "Có lỗi rồi",
          text: "Danh sách cần xóa trống !",
          icon: "error",
          button: "Ok!",
        })
        return
      }
      swal({
        title: "Bạn có chắc chắn muốn xóa không",
        text: "Nếu xóa bạn vẫn có thể khôi phục email!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          fetch(`/management/content/mail/api/deleteChecked`, {
              method: "DELETE", // or 'PUT'
              headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: JSON.stringify(idList)
            })
            .then((response) => response.json())
            .then((data) => {
              if (data.isSuccess) {
                swal({
                  title: "Thành công",
                  text: "Đã xóa thành công !",
                  icon: "success",
                  button: "Ok!",
                }).then(() => {
                  location.reload();
                });
              } else {
                swal({
                  title: "Có lỗi rồi",
                  text: "Gặp lỗi hệ thống hoặc danh sách cần xóa trống !",
                  icon: "error",
                  button: "Ok!",
                })
              }
            })
            .catch((error) => {
              console.log("Error:", error);
            });
        } else {
          return;
        }
      });
    })
  });
</script>

</html>