<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEND MAIL TO ONE</title>
  <link rel="icon" href="/image/tablogo.png">
  <%- include("../../partials/link") %>
  <link rel="stylesheet" href="/froalacss" />
  <style>
    span.email-ids {
      float: left;
      /* padding: 4px; */
      border: 1px solid #ccc;
      margin-right: 5px;
      margin-bottom: 5px;
      background: #f5f5f5;
      padding: 3px 10px;
      border-radius: 5px;
    }

    span.cancel-email {
      border: 1px solid #ccc;
      width: 18px;
      display: block;
      float: right;
      text-align: center;
      margin-left: 20px;
      border-radius: 49%;
      height: 18px;
      line-height: 15px;
      margin-top: 1px;
      cursor: pointer;
    }

    .email-id-row {
      border: 1px solid #ccc;
    }

    .email-id-row input {
      border: 0;
      outline: 0;
    }

    span.to-input {
      display: block;
      float: left;
      padding-right: 11px;
    }

    .email-id-row {
      padding-top: 6px;
      padding-bottom: 7px;
      /*margin-top: 23px;*/
    }

    .enter-mail-id {
      border: solid 2px #007bff;
      padding: 2px 3px;
      border-radius: 3px;
      outline: none;
    }
  </style>
</head>

<body>
  <%- include("../../admin/partials/header") %>

  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/management/content/mail">Trang quản lí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gửi mail</li>
      </ol>
    </nav>
    <div class="d-flex">
      <label for="to" class="mr-4">Tới: <%= mail.email %> </label>
    </div>

    <section class="container mb-4">
      <textarea id="froala-edit" name="contentMail"></textarea><br>
      <button class="btn btn-primary float-right" onclick="sendMail('<%= mail.email %>',)"><i class="fas fa-plane-departure"></i> Gửi mail</button>
    </section>
  </div>
</body>
<%- include("../../partials/script") %>
<script src="/js/moment.min.js"></script>
<script src="/froalajs"></script>
<script>
  function sendMail(email) {
    const payload = {
      emails: email,
      content: document.getElementById("froala-edit").value
    }
    fetch(`/management/content/mail/api/send-mail`, {
        method: "POST", // or 'PUT'
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify(payload)
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.isSuccess) {
          swal({
            title: "Thành công",
            text: "Đã gửi mail thành công !",
            icon: "success",
            button: "Ok!",
          }).then(() => {
            location.reload();
          });
        }
      })
      .catch((error) => {
        console.log("Error:", error);
      });
  }
  const editor = new FroalaEditor("#froala-edit", {
    height: 800,
  });
</script>

</html>