<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRASH DASHBOARD</title>

  <link rel="stylesheet" href="/css/fullscreenImg.css">
  <link rel="stylesheet" href="/css/slideDashboard.css">
  <%- include("../../partials/link") %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <div class="container mt-2">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h2>Slide đã xóa</h2>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center">
        <i class="fas fa-2x fa-search mr-2 text-info"></i><input class="form-control" id="myInput" type="text" placeholder="Tìm slide ...">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex">
        <a href="/management/content/slide" class="btn btn-warning">Quản lí slide <i class="fab fa-2x fa-slideshare"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p>Tổng : <span class="badge badge-primary slideSum"><%= slides.length %> </span>
    </div>
  </div>
  <section>
    <table class="table table-striped table-bordered table-sm" width="100%">
      <thead>
        <tr class="text-center">
          <th scope="col">STT</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Tên</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Thể loại</th>
          <th scope="col">Chương</th>
          <th scope="col">Mô tả</th>
          <th scope="col">Đã tạo</th>
          <th scope="col">Đã xóa</th>
          <th scope="col">Tác vụ</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% slides.forEach((slide,index) => { %>
        <tr class="manga-row" id="<%= slide._id %> ">
          <th scope="row"><%= index + 1%> </th>
          <td scope="row">
            <img src="<%= slide.image %>" class="slide-image" width="100%" alt="">
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <span class="close-btn" onclick="closeModal()">&times;</span>
              <img class="modal-content" id="preview-modal" style="zoom: 2;margin-top: 30px;">
            </div>
          </td>
          <td scope="row">
            <%= slide.manga.name %>
          </td>
          <td scope="row">
            <%= slide.manga.author %>
          </td>
          <td scope="row">
            <% slide.manga.type.forEach((type,index) => { %><span class="type bg-primary text-light "><%= type %></span>
            <%}); %>
          </td>
          <td scope="row" class="text-center">
            <span class="badge badge-success">
              <% if(slide.manga.contentId.chapters.length !==  0) { %>
              <%= slide.manga.contentId.chapters[0].chapterNumber %>
              <% }else{ %>
              <i class="fas fa-2x fa-empty-set"></i>
              <%} %>
            </span>
          </td>
          <td scope="row" class="desc_td">
            <div class="desc">
              <%= slide.manga.description %>
            </div>
          </td>
          <td scope="row">
            <%= slide.createdAt %>
          </td>
          <td scope="row">
            <%= slide.deletedAt %>
          </td>
          <td scope="row">
            <div class="text-center">
              <button class="btn btn-success mt-2" onclick="restoreSlide('<%= slide._id %>')">Khôi phục</button>
              <button class="btn btn-danger mt-2" onclick="destroySlide('<%= slide._id %>','<%= slide.image %>')">Xóa</button>
            </div>
          </td>
        </tr>
        <%}); %>
      </tbody>
    </table>
  </section>

</body>
<%- include("../../partials/script") %>
<script>
  $(document).ready(function() {
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<script>
  var modal = document.getElementById("myModal");

  var modalImg = document.getElementById("preview-modal");
  document.querySelectorAll(".slide-image").forEach((item, index) => {
    item.onclick = function() {
      modal.style.display = "block";
      modalImg.src = this.src;
    }
  });


  const span = document.getElementsByClassName("close-btn")[0];

  function closeModal() {
    modal.style.display = "none";
  };
</script>
<script>
  function restoreSlide(slideId) {
    fetch(`/management/content/slide/api/restore/${slideId}`, {
        method: 'PATCH', // or 'PUT'
      })
      .then(response => response.json())
      .then(data => {
        if (data.isSuccess) {
          swal({
            title: "Thành công",
            text: "Đã khôi phục thành công !",
            icon: "success",
            button: "Ok!",
          }).then(() => {
            location.reload()
          })
        }

      })
      .catch((error) => {
        console.log('Error:', error);
      })
  }
</script>
<script>
  function destroySlide(slideId, slideImg) {
    const payload = {
      image: slideImg.split("/")[2]
    }
    swal({
      title: "Bạn có chắc chắn muốn xóa không",
      text: "Nếu xóa bạn không thể khôi phục slide !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        fetch(`/management/content/slide/api/destroy/${slideId}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
              // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify(payload)
          })
          .then(response => response.json())
          .then(data => {
            if (data.isSuccess) {
              swal({
                title: "Thành công",
                text: "Đã xóa thành công !",
                icon: "success",
                button: "Ok!",
              }).then(() => {
                location.reload()
              })
            }
          })
          .catch((error) => {
            console.log('Error:', error);
          })
      } else {
        return;
      }
    });
  }
</script>

</html>